	#box-images-preview0 ul {
		list-style-type: none;
		padding: 0px;
		margin: 10px;
	}
	#box-images-preview0 ul li{
		margin-right: 10px;
		display: inline;
	}
	#box-images-preview0 ul img{
		width: 19%;
		height: 150px;
		object-fit: cover;
	}
	#box-images-preview0 ul li span{
		position: absolute;
		background-color: red;
		padding: 5px;
		margin-left: -20px;
	}	
	#box-images-preview ul {
		list-style-type: none;
		padding: 0px;
		margin: 10px;
	}
	#box-images-preview ul li{
		margin-right: 10px;
		display: inline;
	}
	#box-images-preview ul img{
		width: 19%;
		height: 150px;
		object-fit: cover;
	}
	#box-images-preview ul li span{
		position: absolute;
		background-color: red;
		padding: 5px;
		margin-left: -20px;
	}
	
	.img-list{
		width: 70px;
		height: 70px;
		object-fit: cover;
		border-radius: 50%;
	}
	
	td{
		vertical-align: middle !important;
	}
	
	td.btd{
		text-align: center;
	}
	
	.box-single-preview{
		width:100%;
		text-align: center;
	}
	
	.img-preview-big{
		width:100%;
		max-height:700px;
		object-fit: cover;
	}
	
	.img-preview-box{
		height: 200px;
		width: 200px;
		object-fit: cover;
		border-radius: 50%;
	}
	
	.capped-image{
		max-width:100%;
	}