﻿doctype html
html(lang='es', ng-app='kulbidAdmin')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
    meta(name='theme-color', content='#EEEEEE')
    title(ng-bind='title')
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/admin/metisMenu.min.css')
    link(rel='stylesheet', href='/stylesheets/admin/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/admin/bootstrap.theme.css')
    link(rel='stylesheet', href='/stylesheets/admin/default.css')
    link(rel='stylesheet', href='/stylesheets/loading-bar.css')
    link(rel='stylesheet', href='/stylesheets/admin/default.date.css')
    link(rel='stylesheet', href='/stylesheets/admin/default.time.css')
    link(rel='stylesheet', href='/stylesheets/admin/toastr.css')
    link(rel='stylesheet', href='/stylesheets/admin/style.css')
    link(rel='stylesheet', href='/stylesheets/angular-text.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')
  body
    div#main(ui-view)
    script(src='/javascripts/lib/jquery/jquery.js')
    script(src='/javascripts/spin.js')
    script(src='/javascripts/lib/angular/angular.js')
    script(src='/javascripts/lib/angular/angular-scroll.min.js')
    script(src='/javascripts/lib/angular/angular-resource.js')
    script(src='/javascripts/lib/angular/angular-animate.js')
    script(src='/javascripts/lib/angular/angular-timer.js')
    script(src='/javascripts/lib/angular/angular-ui-router.js')
    script(src='/javascripts/lib/angular/angular-cookie.js')
    script(src='/javascripts/lib/angular/angular-spinner.js')
    script(src='/javascripts/lib/angular/angular-text.js')
    script(src='/javascripts/lib/angular/angular-rangy.js')
    script(src='/javascripts/lib/angular/angular-sanitize.js')
    script(src='/javascripts/lib/angular/angular-map.js')
    script(src='/javascripts/lib/angular/angular-upload.js')
    script(src='/javascripts/lib/angular/angular-upload-shim.js')
    script(src='/javascripts/lib/angular/angular-pagination.js')
    script(src='/javascripts/lib/angular/dirPagination.js')
    script(src='/javascripts/lib/angular/angular-zoom2.js')
    script(src='/javascripts/loading-bar.js')
    script(src='/javascripts/moment.js')
    script(src='/javascripts/humanize-duration.js')
    script(src='/javascripts/toastr.js')
    script(src='/javascripts/picker.js')
    script(src='/javascripts/picker.date.js')
    script(src='/javascripts/picker.time.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery.easing.min.js')
    script(src='/javascripts/classie.js')
    script(src='/javascripts/ofi.browser.js')
    script(src='/javascripts/cbpAnimatedHeader.js')
    script(src='/javascripts/jqBootstrapValidation.js')
    script(src='/javascripts/contact_me.js')
    script(src='/javascripts/slippry.js')
    script(src='/javascripts/myscript.js')
    script(src='/javascripts/controllers.admin.js')
    script(src='/javascripts/app.admin.js')
    script(src='/javascripts/directives.admin.js')
    script(src='/javascripts/metisMenu.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js')


