.row
  form.col.s12
    .row
      .input-field.col.s12
        input#name.validate(ng-model='form.name',name='name', type='text')
    .row
      .input-field.col.s12
        select#parent.browser-default(ng-model='form.parent',name='parent')
          option(ng-repeat='category in categories',value='{{category._id}}') {{category.name}}
    .row
      div
        .btn
          span File
          input#categorypic(ng-model='form.categorypic',type='file',name='categorypic')
      .input-field.col.s12
        input(ng-click='send()',type='submit', value='Enviar')