﻿section#portfolio
  .container
    span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
    .mask(ng-show='showSpinner')
    .row
      .col-md-6(style='z-index: 1')
        .row
          .col-md-12
            h3 {{item.name}}
            small {{item.descriptionShort}}
          .col-md-12
      .row
        .col-lg-12.text-center
          h3.text-center(ng-show="paytransations.youAre==='B'") Datos de tu compra
          h3.text-center(ng-show="paytransations.youAre==='S'") Datos de tu venta
          hr.star-primary
      .col-lg-12.box-info-seller
        .col-md-12(style='text-align: center;')
          img.img-cir.img-cua-venta-perfil(src='uploads/250/{{profile.images[0]}}')
        .col-md-12(style='text-align: center;')
          h3 {{profile.name}}
          h4 Precio: {{profile.price}} $
          small {{profile.descriptionShort}}
        .col-md-6
          #bar-sell
            .col-md-12.text-center
              h3 Vendedor
          .col-md-12
            .list-group
              a.list-group-item(href='#', style='height:8em;')
                .col-lg-2
                  img.img-cir.img-transition-perfil-small(src='uploads/60/{{seller.photo}}')
                .col-lg-10
                  h4.list-group-item-heading {{seller.user}}
                  p.list-group-item-text
                    ul(style='list-style: none;padding: 0;')
                      li {{seller.particular.name}}
                      li(ng-repeat='mail in sellermail', ng-if='mail.confirmed==true') {{mail.mail}}
                      li(ng-repeat='phone in sellerphones') {{phone}}
              a.list-group-item(href='#')
                h4.list-group-item-heading Calificacion
                p.list-group-item-text
                  .col-md-4 Calidad
                  div(classs='col-md-8')
                    ol.reputacion(style='padding-top: 0px !important;')
                      li.puntos(ng-repeat='i in poitnscalidadcss_s')
                        i.puntos(ng-class='i')
                  .col-md-4 Comunicación
                  div(classs='col-md-8')
                    ol.reputacion(style='padding-top: 0px !important;')
                      li.puntos(ng-repeat='i in poitnscomunicacioncss_s')
                        i.puntos(ng-class='i')
                  .col-md-4 Disponibilidad
                  div(classs='col-md-8')
                    ol.reputacion(style='padding-top: 0px !important;')
                      li.puntos(ng-repeat='i in poitnsdisponiblecss_s')
                        i.puntos(ng-class='i')
        .col-md-6
          #bar-sell
            .col-md-12.text-center
              h3 Comprador
          .col-md-12
            .list-group
              a.list-group-item(href='#', style='height:8em;')
                .col-lg-2
                  img.img-cir.img-transition-perfil-small(src='uploads/60/{{buyer.photo}}')
                .col-lg-10
                  h4.list-group-item-heading {{buyer.user}}
                  p.list-group-item-text
                    ul(style='list-style: none;padding: 0;')
                      li {{buyer.particular.name}}
                      li {{buyeraddress}}
                      li(ng-repeat='mail in buyermail', ng-if='mail.confirmed==true') {{mail.mail}}
                      li(ng-repeat='phone in buyerphones') {{phone}}
              a.list-group-item(href='#')
                h4.list-group-item-heading Calificacion
                p.list-group-item-text
                  .col-md-4 Calidad
                  div(classs='col-md-8')
                    ol.reputacion(style='padding-top: 0px !important;')
                      li.puntos(ng-repeat='i in poitnscalidadcss')
                        i.puntos(ng-class='i')
                  .col-md-4 Comunicación
                  div(classs='col-md-8')
                    ol.reputacion(style='padding-top: 0px !important;')
                      li.puntos(ng-repeat='i in poitnscomunicacioncss')
                        i.puntos(ng-class='i')
                  .col-md-4 Disponibilidad
                  div(classs='col-md-8')
                    ol.reputacion(style='padding-top: 0px !important;')
                      li.puntos(ng-repeat='i in poitnsdisponiblecss')
                        i.puntos(ng-class='i')
        .center-cont-flex
          div(ng-show="!paytransations.payed && !paytransations.processing && paytransations.youAre==='B' && paytransations.rates.buyer.status==='P'")
            button.text-center.btn.btn-success(ng-click="send();") Pagar
            .center-cont-flex-linear
              img(src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg", alt="PayPal Acceptance Mark")
          div(ng-show="!paytransations.payed && !paytransations.processing && paytransations.youAre!=='B'")
            h5 El comprador aún no ha pagado por esta transacción
          h5(ng-show="paytransations.payed") Esta transacción ya ha sido pagada
          h5(ng-show="paytransations.processing") Esta transacción tiene un pago procesando
        .row(ng-show="paytransations.youAre!=='A'")
          form(ng-submit='sendComent();')
            .col-md-12.text-center
              h3(ng-show="paytransations.youAre==='B'") Califica solo cuando hayas recibido el producto
              h3(ng-show="paytransations.youAre==='S'") Califica solo cuando hayas recibido el pago
            .col-md-12
              .list-group
                a.list-group-item
                  h4 ¿Que resultado tuvo la operación?
                  select.form-control( required,ng-model='form.status')
                    option(value='S') Exitosa
                    option(value='C') Cancelada
                    option(value='F') Fallida
                a.list-group-item
                  input.form-control(type='text', required, placeholder='Comentario', ng-model='form.comment')
                a.list-group-item
                  h4 Calidad
                  select.form-control( required,ng-model='form.quality')
                    option(value='4') Muy Conforme
                    option(value='3') Conforme
                    option(value='2') Regular
                    option(value='1') Poco Conforme
                    option(value='0') No Conforme
                a.list-group-item
                  h4 Comunicación
                  select.form-control( required,ng-model='form.communication')
                    option(value='4') Muy Conforme
                    option(value='3') Conforme
                    option(value='2') Regular
                    option(value='1') Poco Conforme
                    option(value='0') No Conforme
                  a.list-group-item
                    h4 Disponibilidad
                    select.form-control( required,ng-model='form.avialability')
                      option(value='4') Muy Conforme
                      option(value='3') Conforme
                      option(value='2') Regular
                      option(value='1') Poco Conforme
                      option(value='0') No Conforme
              .col-md-12
                button.btn.btn-success.btn-lg(type='submit') Calificar
        .row
          .col-lg-12.text-center
            h3 Reclamos
            hr.star-primary
        .row(ng-show="paytransations.youAre==='A'")
          .col-md-12
            .cajita-boton.text-center
              button.btn.btn-danger(type='button', ng-click="close();") Cerrar reclamos
        .row(style='padding: 20px;',ng-if="comments<1")
          .alert.alert-info
            span Enhorabuena este producto no tiene reclamos.
        .row
          .col-md-12
            .cajita-boton.text-center(ng-hide="paytransations.closed")
              button.btn.btn-success(type='button', data-toggle='modal', data-target='#myModal', ng-click='resetModal()') Hacer un reclamo
            ul.comentarios.col-md-12
              li.comentario-item.mg.col-md-12(dir-paginate='i in comments | itemsPerPage: max',current-page="currentPage",total-items="total")
                .contenedor-comentario.container
                  .col-sm-1.hidden-xs
                    img.img-circle.user-profile-comment(src='uploads/150/{{i.user.photo}}')
                  .col-xs-12.col-sm-11
                    p.texto-query
                      strong {{i.user.user}}
                      small.text-claro
                        timer(start-time='i.time')
                          | Hace {{days}} dias, {{hours}} horas, {{minutes}} minutos, {{seconds}} segundos.
                    small.label.label-warning(ng-if="i.userIs=='S'") Vendedor
                    small.label.label-primary(ng-if="i.userIs=='A'") Administrador
                    small.label.label-info(ng-if="i.userIs=='B'") Comprador
                    p {{i.comment}}
                  p
                    a(ng-show='i.canReply', href='', ng-click='reply(i._id);', data-toggle='modal', data-target='#myModal') {{i.global? 'Responder' : 'Preguntar'}}
        .row
          .col-md-12
            dir-pagination-controls(boundary-links="true",on-page-change="pageChange(newPageNumber)",template-url="/static/dirPagination.tpl.html")        
#myModal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
          span(aria-hidden='true') ×
        h4.modal-title {{modalTitle}}
      form(ng-submit='sendReg();')
        .modal-body
          div(ng-if="getransations.total==0",style="text-align: center;")
            h3 ¿Estas seguro de reclamar?
          textarea.oforma(ng-class="getransations.total==0 ? 'hide':'mos'",style='width:100%;', cols='40', rows='10', ng-model='form.comment')
        .modal-footer
          button#closeModal.btn.btn-default(type='button', data-dismiss='modal') Cerrar
          button.btn.btn-primary(type='button',ng-if="getransations.total==0",onclick="$('.oforma').show();$(this).hide();") Si
          button.oforma.btn.btn-primary(ng-class="getransations.total==0 ? 'hide':'mos'",type='submit') Enviar
