section
  .container
    .row
      .col-lg-12.text-center
        h2 Ingresa tus datos
        hr.star-primary
      .col-md-12.rever2
        form.ng-pristine.ng-invalid.ng-invalid-required.ng-valid-email(ng-submit='sendRequestPassMail();')
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Email
              input#postal.form-control(ng-model='form.mail', placeholder='Email', required='', data-validation-required-message='Ingresa email.', type='text')
              p.help-block.text-danger
          .row
            .form-group.col-xs-12
              a(href="/forgotuser") Olvidé mi correo electrónico
          .row
            .form-group.col-xs-12
              button.btn.btn-success.btn-lg(type='submit') Enviar