#carousel-example-generic.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li(ng-repeat="b in banners",data-target='#carousel-example-generic',ng-class="$index==0 ? 'active' : ''" data-slide-to='{{$index}}')
  .carousel-inner(role='listbox')
    .item(ng-repeat="b in banners",ng-class="$index==0 ? 'active' : ''")
      a(href='{{b.href || "#"}}')
        img(src='uploads/1900/{{b.image}}')
  div.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    span.sr-only Previous
  div.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    span.sr-only Next
a#topy_(name='topy_')
section#portfolio
  .container
    .row
      .col-md-12.text-center
        h3#name_index Categorias
        hr.star-primary
    span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
    div.mask(ng-show="showSpinner")
    #history_main(style='margin-bottom:20px;')
      a(href='/',ng-if='history1.active') Inicio
      span(ng-if='history1.active') >
      a(ui-sref='index.category({main:history2.name})',ng-if='history2.active') {{history2.name}}
      span(ng-if='history3.active') > {{history3.name}}
    .row(ui-view='')
      
