header
  div
    .row.sli
      .col-lg-12
        .intro-text
          #jssor_1(style='position: relative; margin: 60px auto 0 auto; top: 0px; left: 0px; width: 1300px; height: 350px; overflow: hidden; visibility: hidden;')
            div(data-u='slides', style='cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 300px; overflow: hidden;')
              div(data-p='225.00', style='display: none;')
                img(data-u='image', src='img/s1.jpg')
              div(data-p='225.00', style='display: none;')
                img(data-u='image', src='img/s2.jpg')
              div(data-p='225.00', style='display: none;')
                img(data-u='image', src='img/s3.jpg')
              div(data-p='225.00', style='display: none;')
                img(data-u='image', src='img/s4.jpg')
              div(data-p='225.00', style='display: none;')
                img(data-u='image', src='img/s5.jpg')
              div(data-p='225.00', style='display: none;')
                img(data-u='image', src='img/s6.jpg')
              div(data-p='225.00', style='display: none;')
                img(data-u='image', src='img/s7.jpg')
              a(data-u='ad', href='http://www.jssor.com', style='display:none') jQuery Slider
            // Bullet Navigator
            .jssorb05(data-u='navigator', style='bottom:16px;right:16px;', data-autocenter='1')
              // bullet navigator item prototype
              div(data-u='prototype', style='width:16px;height:16px;')
            // Arrow Navigator
            span.jssora22l(data-u='arrowleft', style='top:0px;left:12px;', data-autocenter='2')
            span.jssora22r(data-u='arrowright', style='top:0px;right:12px;', data-autocenter='2')
// Portfolio Grid Section
section#portfolio
  .container
    .row
      .col-lg-12.text-center
        h3 Artículos
        hr.star-primary
    .row
      .col-sm-3.portfolio-item
        a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive.w100(src='img/cel.jpg', alt='')
        h5 Se vende Samsung
        ul.lista-caracteristicas
          li.cuadro-gris Precio: 400$
          li.cuadro-gris Artículo: Usado
        a.vermas(href='') Ver más
      .col-sm-3.portfolio-item
        a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive.w100(src='img/carro1.jpg', alt='')
        h5 Se vende carro
        ul.lista-caracteristicas
          li.cuadro-gris Precio: 400$
          li.cuadro-gris Artículo: Usado
        a.vermas(href='') Ver más
      .col-sm-3.portfolio-item
        a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive.w100(src='img/cel.jpg', alt='')
        h5 Se vende Samsung
        ul.lista-caracteristicas
          li.cuadro-gris Precio: 400$
          li.cuadro-gris Artículo: Usado
        a.vermas(href='') Ver más
      .col-sm-3.portfolio-item
        a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive.w100(src='img/carro1.jpg', alt='')
        h5 Se vende carro
        ul.lista-caracteristicas
          li.cuadro-gris Precio: 400$
          li.cuadro-gris Artículo: Usado
        a.vermas(href='') Ver más
      .col-sm-3.portfolio-item
        a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive.w100(src='img/cel.jpg', alt='')
        h5 Se vende Samsung
        ul.lista-caracteristicas
          li.cuadro-gris Precio: 400$
          li.cuadro-gris Artículo: Usado
        a.vermas(href='') Ver más
      .col-sm-3.portfolio-item
        a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive.w100(src='img/carro1.jpg', alt='')
        h5 Se vende carro
        ul.lista-caracteristicas
          li.cuadro-gris Precio: 400$
          li.cuadro-gris Artículo: Usado
        a.vermas(href='') Ver más
      .col-sm-3.portfolio-item
        a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive.w100(src='img/cel.jpg', alt='')
        h5 Se vende Samsung
        ul.lista-caracteristicas
          li.cuadro-gris Precio: 400$
          li.cuadro-gris Artículo: Usado
        a.vermas(href='') Ver más
      .col-sm-3.portfolio-item
        a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive.w100(src='img/carro1.jpg', alt='')
        h5 Se vende carro
        ul.lista-caracteristicas
          li.cuadro-gris Precio: 400$
          li.cuadro-gris Artículo: Usado
        a.vermas(href='') Ver más
footer.text-center
  .bg
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          h3 Tiendas
          p Teléfonos y celulares
          p
          p Electrodomesticos
          p Vehículos y motos
          p Ropa y zapatos
          p Servicios
          p Deportes y accesorios
        .footer-col.col-md-4
          h3 Redes sociales
          ul.list-inline
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-facebook
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-google-plus
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-twitter
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-linkedin
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-dribbble
        .footer-col.col-md-4
          h3 Contacto
          p contacto@kulbid.com
  .footer-below
    .container
      .row
        .col-lg-12
          | Copyright © Kulbid.com 2016
// Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-top.page-scroll.visible-xs.visible-sm
  a.btn.btn-primary(href='#page-top')
    i.fa.fa-chevron-up
// Portfolio Modals
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Project Title
            hr.star-primary
            img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
            p
              | Use this area of the page to describe your project. The icon above is part of a free icon set by 
              a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
              | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            ul.list-inline.item-details
              li
                | Client:
                strong
                  a(href='http://startbootstrap.com') Start Bootstrap
              li
                | Date:
                strong
                  a(href='http://startbootstrap.com') April 2014
              li
                | Service:
                strong
                  a(href='http://startbootstrap.com') Web Development
            button.btn.btn-default(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Project Title
            hr.star-primary
            img.img-responsive.img-centered(src='img/portfolio/cake.png', alt='')
            p
              | Use this area of the page to describe your project. The icon above is part of a free icon set by 
              a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
              | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            ul.list-inline.item-details
              li
                | Client:
                strong
                  a(href='http://startbootstrap.com') Start Bootstrap
              li
                | Date:
                strong
                  a(href='http://startbootstrap.com') April 2014
              li
                | Service:
                strong
                  a(href='http://startbootstrap.com') Web Development
            button.btn.btn-default(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Project Title
            hr.star-primary
            img.img-responsive.img-centered(src='img/portfolio/circus.png', alt='')
            p
              | Use this area of the page to describe your project. The icon above is part of a free icon set by 
              a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
              | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            ul.list-inline.item-details
              li
                | Client:
                strong
                  a(href='http://startbootstrap.com') Start Bootstrap
              li
                | Date:
                strong
                  a(href='http://startbootstrap.com') April 2014
              li
                | Service:
                strong
                  a(href='http://startbootstrap.com') Web Development
            button.btn.btn-default(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Project Title
            hr.star-primary
            img.img-responsive.img-centered(src='img/portfolio/game.png', alt='')
            p
              | Use this area of the page to describe your project. The icon above is part of a free icon set by 
              a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
              | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            ul.list-inline.item-details
              li
                | Client:
                strong
                  a(href='http://startbootstrap.com') Start Bootstrap
              li
                | Date:
                strong
                  a(href='http://startbootstrap.com') April 2014
              li
                | Service:
                strong
                  a(href='http://startbootstrap.com') Web Development
            button.btn.btn-default(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close
#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Project Title
            hr.star-primary
            img.img-responsive.img-centered(src='img/portfolio/safe.png', alt='')
            p
              | Use this area of the page to describe your project. The icon above is part of a free icon set by 
              a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
              | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            ul.list-inline.item-details
              li
                | Client:
                strong
                  a(href='http://startbootstrap.com') Start Bootstrap
              li
                | Date:
                strong
                  a(href='http://startbootstrap.com') April 2014
              li
                | Service:
                strong
                  a(href='http://startbootstrap.com') Web Development
            button.btn.btn-default(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Project Title
            hr.star-primary
            img.img-responsive.img-centered(src='img/portfolio/submarine.png', alt='')
            p
              | Use this area of the page to describe your project. The icon above is part of a free icon set by 
              a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
              | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            ul.list-inline.item-details
              li
                | Client:
                strong
                  a(href='http://startbootstrap.com') Start Bootstrap
              li
                | Date:
                strong
                  a(href='http://startbootstrap.com') April 2014
              li
                | Service:
                strong
                  a(href='http://startbootstrap.com') Web Development
            button.btn.btn-default(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close
