section#portfolio
  .container
    .row
      .col-lg-12.text-center
        h2 Publicar
        hr.star-primary
        #box_alert_pay.alert.alert-warning(ng-if="chekbox.e==2")
          h3(style="font-weight:bold;") Debes vincular una cuenta de paypal para poder vender
          span
            a(href='/profile/profilepay') Vincular tu cuenta Paypal
    span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
    .mask(ng-show='showSpinner')
    .row
      .col-lg-12
        form#contactForm(name='sentMessage',ng-submit='send()')
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Titulo {{60 - form.name.length}} caracteres restantes
              input#name.form-control( ng-model='form.name', maxlength='60',placeholder='Titulo del Articulo', required='', type='text')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Descripcion Corta {{140 - form.descriptionShort.length}} caracteres restantes
              input#descriptionShort.form-control( ng-model='form.descriptionShort', maxlength='140',placeholder='Descripcion Corta', required='', type='text')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.controls
              label Descripcion Larga
              div(style="margin-top:50px",text-angular='', ng-model='form.descriptionLong')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Precio
              input#price.form-control(ng-model='form.price', placeholder='Precio (mínimo 10 MXN)',min='10',max='99999999999',step='any', required,title="Debes ingresar un monto mayor a 10", type='number')
              p.help-block.text-danger
              div(ng-if="form.price>4")
                span Que se divide en:
                br
                span {{form.price - ((form.price*(taxP/100)) + 4)}} para ti como vendedor
                br
                span {{form.price - ((form.price*((100-taxP)/100)) - 4)}} para Kulbid (El equivalente al {{taxP}}% del precio total + 4 pesos por coste de transacción)
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Cantidad de inventario
              input#stock.form-control(ng-model='form.stock', placeholder='Cantidad de inventario' ,required,title="Debes ingresar un monto entre 1 y 99", min='1',step='1',max='99',type='number', ng-change='validateStock()')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.controls
              label Categoria
              select#category.form-control(ng-model='form.parent', name='category', required='', ng-change='getchilds(form.parent)')
                option(ng-repeat='category in categories', value='{{category._id}}') {{category.name}}
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.controls
              label Sub-Categoria
              select#sub-category.form-control(ng-model='form.category', name='category', required='')
                option(ng-repeat='child in childs', value='{{child._id}}') {{child.name}}
              p.help-block.text-danger
          .row.control-group(style="display:none;")
            .form-group.col-xs-12.floating-label-form-group.controls
              label Localidad
              input#location.form-control( ng-model='form.location', placeholder='Localidad', type='text')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.controls
              label ¿Donde esta el artículo? (Haz click sobre la ubicación del artículo)
              div(map-lazy-load='https://maps.google.com/maps/api/js', map-lazy-load-params='{{googleMapsUrl}}')
                ng-map(center='19.433255, -99.133511', zoom='13')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.controls
              label Tipo
              select#type.form-control(ng-model='form.type', name='type', required='', ng-change='typeChanged()')
                option(value='S') Venta
                option(value='A') Subasta
                option(value='L') Lote
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.controls
              label Condicion del Articulo
              select#status.form-control(ng-model='form.status', name='type', required='')
                option(value='N') Nuevo
                option(value='U') Usado
                option(value='SN') Semi Nuevo
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.controls
              label Tiempo
              select#status.form-control(ng-model='form.time', name='time', required='')
                option(ng-repeat='i in days[form.type]',value='{{i.value}}') {{i.name}}
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              .button.drop-box(style='width:100%',ngf-select='', ngf-drop='', ng-model='files',ngf-keep='true', ngf-multiple='true',ngf-max-files='5',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Arrastra tus archivos
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Imagen Articulo
              #box-images-preview
                ul
                  li(ng-repeat='file in files')
                    img.img-preview-box(ngf-src='!file.$error && file')
                    span
                     a(ng-click='remove($index)') X
              p.help-block.text-danger
          br
          #success
          .row
            .form-group.col-xs-12
              button.btn.btn-success.btn-lg(type='submit') Enviar