h1= title
form(name="add-estimation", method="post")
	div.input
		span.label User
			input(ng-model='form.username',type="text", name="username")
	div.input
		span.label Pass
			input(ng-model='form.password',type="password", name="password")
	div.actions
		button(ng-click='send()') Enviar