section
  .container
    .row
      .col-md-12.text-center
      .row
        .col-md-3
          ul.nav.nav-pills.nav-stacked
            li.border-abajo
              a(ui-sref='.list')
                i.glyphicon.glyphicon-user.icono-separe
                |   Mis Articulos
            li.border-abajo
                a(ui-sref='.lote')
                  i.glyphicon.glyphicon-upload.icono-separe
                  |   Publicar Lote         
            li.border-abajo
                a(ui-sref='.cart')
                  i.glyphicon.glyphicon-shopping-cart.icono-separe
                  |   Carrito de compra 
            li.border-abajo
              a(ui-sref='.favorites')
                i.glyphicon.glyphicon-heart.icono-separe
                |   Mis Favoritos          
            li.border-abajo
              a(ui-sref='.history')
                i.glyphicon.glyphicon-time.icono-separe
                |   Mi Historial
            li.border-abajo
              a(ui-sref='.purchases')
                i.glyphicon.glyphicon-credit-card.icono-separe
                |   Mis Compras
            li.border-abajo
              a(ui-sref='.sales')
                i.glyphicon.glyphicon-usd.icono-separe
                |   Mis Ventas
        div.col-md-9(ui-view='')