#portfolio.container.col-md-12
  .row
    .col-lg-12.text-center
      h2 Mis Articulos
      hr.star-primary
  span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
  .mask(ng-show='showSpinner')
  #items.row
    .col-md-12
      square-item(dir-paginate='item in items | itemsPerPage: max',current-page="currentPage",total-items="total", item="item", md-size="true")
  .row
    div.col-md-12
      dir-pagination-controls(boundary-links="true",on-page-change="pageChange(newPageNumber)",template-url="/static/dirPagination.tpl.html")