#portfolio.container.col-md-12
  .row
    .col-lg-12.text-center
      h2 Mis Ventas
      hr.star-primary
  span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
  .mask(ng-show='showSpinner')
  .col-md-12.ficha-list-mysales(dir-paginate='item in items | itemsPerPage: max',current-page="currentPage",total-items="total")
      .col-lg-2
        img.img-cir.img-transition-perfil-small(src='uploads/60/{{item.item.images[0]}}')
      .col-lg-8  
        p
          a(href='/done/{{item._id}}')  {{item.item.name}}
        span(style='font-size: 0.75em;')  {{item.time | date:"dd/MM/yyyy"}}
        span(style='font-size: 0.75em;',ng-if="item.rates.seller.status=='P'")
           a.btn.btn-success(href='/done/{{item._id}}')  Recuerda Calificar
        span(style='font-size: 0.75em;',ng-if="item.rates.buyer.status=='P'") Esperando calificacion del Comprador
      .col-lg-2.text-center  {{item.price}} $
  .row
    div.col-md-12
      dir-pagination-controls(boundary-links="true",on-page-change="pageChange(newPageNumber)",template-url="/static/dirPagination.tpl.html")