﻿section#portfolio
  .container
    .row
      .col-lg-12.text-center
        h3.text-center Información sobre el vendedor
        hr.star-primary
    .col-lg-12.box-info-seller
      .col-md-12(style='text-align: center;')
        img.img-cir.img-cua-venta-perfil(src='uploads/250/{{profile.photo}}')
      .col-md-12(style='text-align: center;')
        h3 {{profile.user}}
        h3.text-center(ng-if='profile.store')
          span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true') {{profile.store.name}}
        small {{profile.countryName}} , {{profile.stateName}} , {{profile.cityName}}
        p
          small.text-center(ng-if='profile.store.address') {{profile.store.address}} 
      .col-md-6
        h4.titulo-perfil-venta.text-center Calificaciones como vendedor
        .col-md-4 Calidad
        div(classs='col-md-8')
          ol.reputacion(style='padding-top: 0px !important;')
            li.puntos(ng-repeat='i in poitnscalidadcss')
              i.puntos(ng-class='i')
        .col-md-4 Comunicación
        div(classs='col-md-8')
          ol.reputacion(style='padding-top: 0px !important;')
            li.puntos(ng-repeat='i in poitnscomunicacioncss')
              i.puntos(ng-class='i')
        .col-md-4 Disponibilidad
        div(classs='col-md-8')
          ol.reputacion(style='padding-top: 0px !important;')
            li.puntos(ng-repeat='i in poitnsdisponiblecss')
              i.puntos(ng-class='i')
      .col-md-6
        h4.titulo-perfil-venta Calificaciones como comprador
        .col-md-3 Calidad
        div(classs='col-md-9')
          ol.reputacion(style='padding-top: 0px !important;')
            li.puntos(ng-repeat='i in poitnscalidadcss_c')
              i.puntos(ng-class='i')
        .col-md-3 Comunicación
        div(classs='col-md-9')
          ol.reputacion(style='padding-top: 0px !important;')
            li.puntos(ng-repeat='i in poitnscomunicacioncss_c')
              i.puntos(ng-class='i')
        .col-md-3 Disponibilidad
        div(classs='col-md-9')
          ol.reputacion(style='padding-top: 0px !important;')
            li.puntos(ng-repeat='i in poitnsdisponiblecss_c')
              i.puntos(ng-class='i')
    .row
      .col-lg-12.text-center
        h3 Articulos en Venta
        hr.star-primary
    #items.row
      .col-md-12
        square-item(dir-paginate='item in items | itemsPerPage: max',current-page="currentPage",total-items="total", item="item")
    div(ng-show="profile.type==2")
      .row
        .col-lg-12.text-center
          h3 Comentarios
          hr.star-primary
      .row
        .col-md-12
          .cajita-boton
            if(logged)
              button.btn.btn-success(type='button', data-toggle='modal', data-target='#myModal', ng-click='resetModal()') Hacer una comentario
        ul.comentarios.col-md-12
          li.comentario-item.col-md-12(ng-repeat='i in comments')
            .contenedor-comentario.container
              .col-sm-1
                img.img-circle.user-profile-comment(src='uploads/150/{{i.user.photo}}')
              .col-xs-12.col-sm-11
                p.texto-query
                  strong {{i.user.user}}
                  small.text-claro
                    timer(start-time='i.time')
                      | Hace {{days}} dias, {{hours}} horas, {{minutes}} minutos, {{seconds}} segundos.
                p {{i.comment}}
                p
                  a(ng-show='i.canReply', href='', ng-click='reply(i._id);', data-toggle='modal', data-target='#myModal') Responder    
      div.col-md-12
        dir-pagination-controls(boundary-links="true",on-page-change="pageChange(newPageNumber)",template-url="/static/dirPagination.tpl.html")
#myModal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
          span(aria-hidden='true') ×
        h4.modal-title {{modalTitle}}
      form(ng-submit='sendQuestion();')
        .modal-body
          textarea(style='width:100%', cols='40', rows='10', ng-model='form.comment')
        .modal-footer
          button#closeModal.btn.btn-default(type='button', data-dismiss='modal') Cerrar
          button.btn.btn-primary(type='submit') Preguntar