section#portfolio
  .container
    .row
    span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
    .mask(ng-show='showSpinner')
    .col-lg-12.text-center
      h3#name_index Cerca de ti
      hr.star-primary
    .row
      div.col-md-12(map-lazy-load='https://maps.google.com/maps/api/js', map-lazy-load-params='{{googleMapsUrl}}')
        ng-map(zoom='13')
    #items.row
      .col-md-12
        h5.text-center(ng-show='listempty') La busqueda no tiene resultados
        square-item(dir-paginate='item in items | itemsPerPage: max',current-page="currentPage",total-items="total", item="item")
    .row
      div.col-md-12
        dir-pagination-controls(boundary-links="true",on-page-change="pageChange(newPageNumber)",template-url="/static/dirPagination.tpl.html")
