﻿section
  .container
    .row
      .col-lg-12.text-center
        h2 Ingresa tus datos
        hr.star-primary
      .col-md-12.rever2
        form.ng-pristine.ng-invalid.ng-invalid-required.ng-valid-email(ng-submit='sendPass();')
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Contraseña
              input#postal.form-control(ng-model='form.pass', placeholder='Contraseña', required='', data-validation-required-message='Ingresa nombre.', type='password')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Repetir Contraseña
              input#postal.form-control(ng-model='form.repass', placeholder='Repetir Contraseña', required='', data-validation-required-message='Ingresa nombre.', type='password')
              p.help-block.text-danger
          .row
            .form-group.col-xs-12
              button.btn.btn-success.btn-lg(type='submit') Enviar