﻿h3(style='text-align:center;') {{titleform}}
hr.star-primary
.col-md-12.rever2
  span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
  .mask(ng-show='showSpinner')
  form.ng-pristine.ng-invalid.ng-invalid-required.ng-valid-email
    .row.control-group.col-md-12
      .form-group.col-xs-12.floating-label-form-group.controls(ng-repeat='m in mails track by $index')
        label Dirección de email
        input#postal.form-control(ng-model='mailsNew[$index].mail',placeholder='E-Mail', required='', data-validation-required-message='Ingresa Dirección de email.', type='email')
        p.help-block.text-danger
        .col-md-12
          button.btn.btn-success.btn-lg(type='buttom',ng-click="update(mailsNew[$index].mail,$index)")
            i.glyphicon.glyphicon-floppy-disk
          button.btn.btn-danger.btn-lg(type='buttom',ng-click="delete(mailsNew[$index].mail)")
            i.glyphicon.glyphicon-remove-sign
    .col-md-12
      .col-md-1.col-sm-6
        button.btn.btn-success.btn-lg(type='buttom',data-toggle='modal', data-target='#myModal')
          i.glyphicon.glyphicon-plus-sign
          |  Agregar Email
#myModal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
          span(aria-hidden='true') ×
        h4.modal-title {{modalTitle}}
      form(ng-submit='add();')
        .modal-body
          label Dirección de email
          input#postal.form-control(ng-model='form.newmail',placeholder='E-Mail', required='', data-validation-required-message='Ingresa Dirección de email.', type='email')
          p.help-block.text-danger
        .modal-footer
          button#closeModal.btn.btn-default(type='button', data-dismiss='modal') Cerrar
          button.btn.btn-primary(type='submit') Agregar