﻿h3(style='text-align:center;') {{titleform}}
hr.star-primary
.col-md-12.rever2
  span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
  .mask(ng-show='showSpinner')
  form.ng-pristine.ng-invalid.ng-invalid-required.ng-valid-email
    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        label Contraseña
        input#postal.form-control(ng-model='form.oldpassword', placeholder='Contraseña Antigua', required='', data-validation-required-message='Ingresa Contraseña Antigua.', type='password')
        p.help-block.text-danger
    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        label Contraseña
        input#postal.form-control(ng-model='form.newpassword', placeholder='Contraseña', required='', data-validation-required-message='Contraseña.', type='password')
        p.help-block.text-danger
    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        label Contraseña
        input#postal.form-control(ng-model='form.renewpassword', placeholder='Repetir Contraseña', required='', data-validation-required-message='Repetir contraseña.', type='password')
        p.help-block.text-danger
    button.btn.btn-success.btn-lg(type='buttom',ng-click='send()') Enviar
