h3(style='text-align:center;') {{titleform}}
hr.star-primary
.col-md-12.rever2
  span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
  .mask(ng-show='showSpinner')
  .row.control-group
    form
      .form-group.col-xs-12.controls
        div(ngf-multiple='false',ngf-select='uploadPhoto($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)',ngf-drop='uploadPhoto($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)',ngf-keep='false',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'")
          img.img-responsive.img-fixed.img-cua-cat-profile.img-cir(ng-hide='file',src='uploads/250/'+user.photo)
          img.img-responsive.img-fixed.img-cua-cat-profile.img-cir(ngf-src='file')
  form.noicon(ng-submit='send()')
    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls.floating-label-form-group-with-value.floating-label-form-group-with-value
        label.active(for='name') Nombre
        input#name.form-control(ng-model='form.name', placeholder="Nombre", ng-init="form.name='"+user.particular.name+"'", required='', data-validation-required-message='Ingresa nombre.', type='text')
        p.help-block.text-danger
    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls.floating-label-form-group-with-value
        label Apellido
        input#lastname.form-control(ng-model='form.lastname', placeholder='Apellido', ng-init="form.lastname='"+user.particular.lastName+"'",required, data-validation-required-message='Ingresa apellido.', type='text')
        p.help-block.text-danger
    .row.control-group(style="display:none;")
      .form-group.col-xs-12.floating-label-form-group.controls.floating-label-form-group-with-value
        label Dirección
        input#address.form-control(ng-model='form.address', placeholder='Dirección', ng-init="form.address='"+user.particular.address+"'",required='', data-validation-required-message='Ingresa Dirección.', type='text')
        p.help-block.text-danger
    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls.floating-label-form-group-with-value
        label País
        select#country.form-control(ng-change='getstate(form.country)' ,placeholder='País',ng-model='form.country', required='', data-validation-required-message='Ingresa País.')
          option(ng-repeat='country in countries', value='{{country._id}}') {{country.name}}
        p.help-block.text-danger
    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls.floating-label-form-group-with-value
        label Estado
        select#state.form-control(ng-model='form.state',ng-change='getcity(form.state)' ,placeholder='País', required='', data-validation-required-message='Ingresa País.')
          option(ng-repeat='state in states', value='{{state._id}}') {{state.name}}
        p.help-block.text-danger
    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls.floating-label-form-group-with-value
        label Ciudad
        select#city.form-control(ng-model='form.city', placeholder='País', data-validation-required-message='Ingresa País.')
          option(ng-repeat='city in cities', value='{{city._id}}') {{city.name}}       
        p.help-block.text-danger
    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls.floating-label-form-group-with-value
        label Codigo Postal
        input#postal.form-control(ng-model='form.postal', placeholder='Codigo Postal',ng-init="form.postal="+user.postal ,required='', data-validation-required-message='Ingresa codigo postal.', type='text')
        p.help-block.text-danger
    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls.floating-label-form-group-with-value
        label Dirección de entrega
        input#postal.form-control(ng-model='form.deliveryaddress', placeholder='Dirección de entrega',required='', data-validation-required-message='Ingresa codigo postal.', type='text')
        p.help-block.text-danger
    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls.floating-label-form-group-with-value
        label Fecha de nacimiento
        input#dob.form-control(ng-model='form.DoB', placeholder='Fecha de nacimiento',date-picker ,ng-init="form.DoB='"+user.particular.DoB+"'",required='', data-validation-required-message='Ingresa Fecha de nacimiento.', type='text')
        p.help-block.text-danger
    .row
      .form-group.col-xs-12
        button.btn.btn-success.btn-lg(type='buttom') Enviar
