﻿section
  .container
    .row
      .col-md-12.text-center
      .row
        .col-md-3.rever1
          ul.nav.nav-pills.nav-stacked
            li.border-abajo
              a(ui-sref='.particular')
                i.glyphicon.glyphicon-user.icono-separe
                |  Información básica
            li.border-abajo
              a(ui-sref='.addemail')
                i.glyphicon.glyphicon-envelope.icono-separe
                |  Direcciones de email
            li.border-abajo
              a(ui-sref='.changepass')
                i.glyphicon.glyphicon-lock.icono-separe
                | Restaurar Contraseña
            li.border-abajo
              a(ui-sref='.addphone')
                i.glyphicon.glyphicon-earphone.icono-separe
                | Numeros de Telefono            
            li.border-abajo
              a(ui-sref='.paypal')
                i.glyphicon.glyphicon-credit-card.icono-separe
                | Mi cuenta de Paypal
            if(user.store)
              li.border-abajo
                a(ui-sref='.store')
                  i.glyphicon.glyphicon-shopping-cart.icono-separe
                  | Tienda
        div.col-lg-9(ui-view='')
