h3(style='text-align:center;') {{titleform}}
hr.star-primary
.col-md-12.rever2
  span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
  .mask(ng-show='showSpinner')
  .row.control-group(ng-if="mostrarMail")
    p {{ subtitle }}  {{ mail }}
      button.btn.btn-danger#btnEliminarPaypal(ng-click='remove()') Eliminar cuenta
  .row.control-group(ng-if="!mostrarMail")
    p {{ subtitle }}
      a(href='{{link}}')
        img.paypal(src="{{ img }}")
    script.
      $(document).ready(function(){
      var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
      sURLVariables = sPageURL.split('&'),
      sParameterName,
      i;
      for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');
      if (sParameterName[0] === sParam) {
      return sParameterName[1] === undefined ? true : sParameterName[1];
      }
      }
      };
      window.var1 = getUrlParameter('code');
      })
  
