a#topy_(name='topy_')
section#portfolio
  .container
    .row
      .col-lg-12.text-center
        h3#name_index ¿qué tipo de usuario eres?
        span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
        .mask(ng-show='showSpinner')
        .col-lg-6.text-center
          a.portfolio-link(href='/register-personal')
            img.img-responsive.img-fixed.img-cua-cat.img-cir(src='uploads/250/particular.jpg')
          a(href='/register-personal')
            h5.ng-binding Comprador/Vendedor Particular
        .col-lg-6.text-center
          a.portfolio-link(href='/register-store')
            img.img-responsive.img-fixed.img-cua-cat.img-cir(src='uploads/250/stores.jpg')
          a(href='/register-store')
            h5.ng-binding Tienda