section
  .container
    .row
      .col-lg-12.text-center
        h2 Registrate
        hr.star-primary
    span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
    div.mask(ng-show="showSpinner")
    .row
      .col-lg-12
        form#contactForm(name='sentMessage',ng-submit='send()')
          .row
            .col-md-12
              h5.titulo_sec Datos de la tienda
          .row.col-md-6.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Username
              input#username.form-control(aria-invalid='false', ng-keypress="keypress($event)",max="16", title="Este campo debe tener entre 1 y 16 caracteres",ng-model='form.username', placeholder='Usuario', required='', ng-required="required", data-validation-required-message='Ingresa un username', type='text')
              p.help-block.text-danger
          .row.col-md-6.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Nombre de Tienda
              input#storename.form-control(aria-invalid='false', ng-model='form.storename', placeholder='Nombre de la Tienda', required='', ng-required="required", data-validation-required-message='Ingresa nombre de la tienda.', type='text')
              p.help-block.text-danger
          .row.col-md-6.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Contraseña
              input#name.form-control(aria-invalid='false', pattern=".{7,}", title='La contraseña debe tener al menos 8 caracteres', ng-model='form.password', placeholder='Contraseña', required='', ng-required="required", data-validation-required-message='Este campo no puede quedar vacio', type='password')
              p.help-block.text-danger
          .row.col-md-6.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Direccion de la tienda
              input#storeaddress.form-control(ng-model='form.storeaddress', placeholder='Dirección de la tienda', required='', ng-required="required", data-validation-required-message='Ingresa tu direccion.', type='text')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.controls
              label Tipo de Tienda
              select#storetype.form-control(ng-model='form.storetype', required='')
                option(selected='', value='SA') Sociedad Anónima
                option(selected='', value='SACV') Sociedad Anónima de Capital Variable
                option(selected='', value='SRL') Sociedad de Responsabilidad Limitada
                option(selected='', value='SNC') Sociedad de Nombre Colectivo
                option(selected='', value='SCS') Sociedad de Comandite Simple
              p.help-block.text-danger
          .row
            .col-md-12
              h5.titulo_sec Datos del encargado
          .row.col-md-6.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Nombre del Encargado
              input#name.form-control(aria-invalid='false', max="99", pattern="[\\D]*",  title="Solo se permiten letras en este campo", ng-model='form.name', placeholder='Nombre del encargado', required='', ng-required="required", data-validation-required-message='Ingresa tu nombre.', type='text')
              p.help-block.text-danger
          .row.col-md-6.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Apellido del Encargado
              input#lastname.form-control(aria-invalid='false', max="99", pattern="[\\D]*",  title="Solo se permiten letras en este campo", ng-model='form.lastname', placeholder='Apellido del encargado', required='', ng-required="required", data-validation-required-message='Ingresa tu apellido.', type='text')
              p.help-block.text-danger
          .row.col-md-6.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Email del Encargado
              input#email.form-control(ng-model='form.mail', title="Debes introducir una dirección de e-mail valida", placeholder='e-mail del encargado', required='', ng-required="required", data-validation-required-message='Introduce tu email.', type='email')
              p.help-block.text-danger
          .row.col-md-6.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label.label-aber Fecha de Nacimiento
              input#dob.form-control(ng-model='form.dob', placeholder='Fecha de Nacimiento', required='', ng-required="required", data-validation-required-message='Ingresa tu fecha de nacimiento.', type='text', date-picker)
              p.help-block.text-danger
          .row.col-md-6.control-group
            .form-group.col-xs-12.controls
              label Pais
              select#contry.form-control(ng-model='form.country', ng-change='getstate(form.country)', name='country', required='', ng-required="required", data-validation-required-message='Selecciona tu pais')
                option(ng-repeat='country in countries', value='{{country._id}}') {{country.name}}
              p.help-block.text-danger
          .row.col-md-6.control-group
            .form-group.col-xs-12.controls
              label Estado
              select#state.form-control(ng-model='form.state', ng-change='getcity(form.state)', name='state', required='', ng-required="required", data-validation-required-message='Selecciona tu pais')
                option(ng-repeat='state in states', value='{{state._id}}') {{state.name}}
              p.help-block.text-danger
          .row.col-md-6.control-group
            .form-group.col-xs-12.controls
              label Ciudad
              select#city.form-control(ng-model='form.city', name='city', data-validation-required-message='Selecciona tu pais')
                option(ng-repeat='city in cities', value='{{city._id}}') {{city.name}}
              p.help-block.text-danger
          .row.col-md-6.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Codigo Postal
              input#postal.form-control(ng-keypress="number_p($event)",ng-model='form.postal', placeholder='Código Postal', required='', ng-required="required", data-validation-required-message='Ingresa codigo postal.', type='text')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Direccion del Encargado
              input#address.form-control(ng-model='form.address', placeholder='Dirección del encargado', required='', ng-required="required", data-validation-required-message='Ingresa tu direccion.', type='text')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Telefono del encargado
              input#phone.form-control(ng-model='form.phone',ng-keypress="number_p($event)", placeholder='Teléfono del encargado', required='', ng-required="required", data-validation-required-message='Ingresa tu telefono.', type='text')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              div(ngf-multiple='false',ngf-select='changePhoto($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)',ngf-drop='changePhoto($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)',ngf-keep='false',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'")
                img.img-responsive.img-fixed.img-cua-cat-profile.img-cir(ng-hide='file',src='uploads/250/stores.jpg')
                img.img-responsive.img-fixed.img-cua-cat-profile.img-cir(ngf-src='file')
          .row.control-group
            .form-group.col-xs-12.controls
              a(href='!#') Soy mayor de 18 años
              input.noicon(required,type='checkbox', style='margin-left:20px;')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.controls
              a(href='/terms', target='_blank', required) Aceptar Términos y Condiciones
              input.noicon(required, type='checkbox', style='margin-left:20px;')
              p.help-block.text-danger
          br
          #success
          .row
            .form-group.col-xs-12
              .form-group.col-xs-12
              button.btn.btn-success.btn-lg(type='submit') Enviar
