section#portfolio
  .container
    .row
    span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
    .mask(ng-show='showSpinner')
    .col-lg-12.text-center
      h3#name_index {{title_search}}
      hr.star-primary
      span.filter-cat-result(style='float: left;',ng-if='sub_cat')
        a(ng-click="clear('subcat')") {{sub_cat}} X
      span.filter-cat-result(style='float: left;',ng-if='type_fil')
        a(ng-click="clear('type')") {{type_fil}} X
      span.filter-cat-result(style='float: left;',ng-if='status_used')
        a(ng-click="clear('use')") {{status_used}} X
      span.filter-cat-result(style='float: left;',ng-if='range_price')
        a(ng-click="clear('range')") {{range_price}} X
    #items.row
      .col-md-2
        ul.nav.nav-pills.nav-stacked
          li.border-abajo
            a(data-toggle="collapse" data-target="#orderf", style="cursor:pointer;") Orden
            ul#orderf.ul.cat-list-filter.collapse 
              li(ng-repeat='n in orders',ng-click='filterorder(n.type)',style="cursor:pointer;")
                input(type='radio',ng-model='order', value='{{n.type}}',name='order')
                |  {{n.name}}
          li.border-abajo
            a(data-toggle="collapse" data-target="#cat-parent", style="cursor:pointer;") Categorias
            ul#cat-parent.ul.cat-list-filter.collapse 
              li(ng-repeat='n in categories',ng-if="main_cat",ng-click='filtercat(n._id,n.name)',style="cursor:pointer;")
                a {{n.name}}
              li(ng-repeat='n in categories',ng-if="!main_cat",ng-click='call_child(n._id,n.name)',style="cursor:pointer;")
                a {{n.name}}
          li.border-abajo
            a(data-toggle="collapse" data-target="#type-filter", style="cursor:pointer;") Tipo
            ul#type-filter.ul.cat-list-filter.collapse
              li(ng-repeat='n in typesearch',ng-click='filtertype(n.type,n.name)',style="cursor:pointer;")
                a {{n.name}}
          li.border-abajo
            a(data-toggle="collapse" data-target="#status-filter", style="cursor:pointer;") Estatus
            ul#status-filter.ul.cat-list-filter.collapse
              li(ng-repeat='n in typestatus',ng-click='filterstatus(n.type,n.name)',style="cursor:pointer;")
                a {{n.name}}
          li.border-abajo
            a(data-toggle="collapse" data-target="#rango-precios", style="cursor:pointer;") Rango de Precios
            ul#rango-precios.ul.cat-list-filter.collapse
              form(ng-submit="filterprice()")
                li(style="cursor:pointer;")
                  .form-group.floating-label-form-group
                    label Precio mínimo
                    input#min_precio.form-control.number-f(type="number",placeholder="Precio mínimo",ng-model="minprice")
                li(style="cursor:pointer;")
                  .form-group.floating-label-form-group
                    label Precio máximo
                    input#max_precio.form-control.number-f(type="number",placeholder="Precio máximo",ng-model="maxprice")
                li     
                  button.btn.btn-success(type="submit") Enviar
      .col-md-10
        h5.text-center(ng-show='listempty') La busqueda no tiene resultados
        square-item(dir-paginate='item in items | itemsPerPage: max',current-page="currentPage",total-items="total", item="item")
        .row
          div.col-md-12
            dir-pagination-controls(boundary-links="true",on-page-change="pageChange(newPageNumber)",template-url="/static/dirPagination.tpl.html")
