section#portfolio
  .container
    .row
    span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
    .mask(ng-show='showSpinner')
    .col-lg-12.text-center
      h3#name_index Tiendas
      hr.star-primary
    #items.row
      .col-md-2
        ul.nav.nav-pills.nav-stacked
          li.border-abajo
            a(data-toggle="collapse" data-target="#cat-parent", style="cursor:pointer;") Categorias
            ul#cat-parent.ul.cat-list-filter.collapse 
              li(ng-if="main_cat",ng-click="clear();",style="cursor:pointer;")
                a {{main_cat}} X
              li(ng-repeat='n in categories',ng-if="main_cat",ng-click='filtercat(n._id)',style="cursor:pointer;")
                a {{n.name}}
              li(ng-repeat='n in categories',ng-if="!main_cat",ng-click='call_child(n._id,n.name)',style="cursor:pointer;")
                a {{n.name}}
      .col-md-10
        h5.text-center(ng-show='listempty') La busqueda no tiene resultados
        square-profile(dir-paginate='item in items | itemsPerPage: max',current-page="currentPage",total-items="total", item="item")
        .row
          div.col-md-12
            dir-pagination-controls(boundary-links="true",on-page-change="pageChange(newPageNumber)",template-url="/static/dirPagination.tpl.html")