section#portfolio
  .container
    .row
      .col-lg-12.text-center
        hr.star-primary
      .col-lg-12.alert.alert-warning.text-center.ng-cloak(ng-if='item.active==2')
        a.close(data-dismiss='alert',aria-label='close')  &times;
        h4 Articulo Pausado
      .col-lg-12.alert.alert-warning.text-center.ng-cloak(ng-if='item.active==3')
        a.close(data-dismiss='alert',aria-label='close')  &times;
        h4 Finalizo la venta de este articulo
      .col-lg-12.alert.alert-warning.text-center.ng-cloak(ng-if='statustime==false')
        a.close(data-dismiss='alert',aria-label='close')  &times;
        h4 Finalizo la venta de este articulo
    .row
      .col-md-6
        .col-md-12
          .main-img-single(zoom2='zoom2', big='SelectedItem.big', tiny='SelectedItem.tiny', small='SelectedItem.small', alt='', title="'Optional title display2'")
          .row.row-thumbails
            .col-p(ng-repeat='th in thumb')
              img.img-responsive.w100.img-thumb(ng-src='uploads/150/{{th}}', ng-click='ThumbnailClicked($index)')
        .col-md-12
      .col-md-6(style='z-index: 1')
        .row
          .col-md-12
            h3 {{item.name}}
            small {{item.descriptionShort}}
          .col-md-12
            table.table
              form(action='')
                tr
                  td(colspan='2')
                    strong Estado del producto
                  td(colspan='1') {{statuses[item.status]}}
                tr
                  td(colspan='2')
                    strong Tipo de venta
                  td(colspan='1') {{types[item.type]}}
                tr
                  td(colspan='1')
                    strong Cantidad
                  td(colspan='1')
                    input.campo-cantidad(type='number',ng-model='quantity', min='1', max='{{item.stock}}')
                  td(colspan='1')
                    samll / {{item.stock}}
                tr
                  td(colspan='2')
                    strong Precio de venta
                  td(colspan='1') {{price}} $
                tr
                  td(colspan='1')
                      button.btn.btn-warning(type='button',ng-if="type=='A'",data-toggle='modal', data-target='#mybid') Puja
                      button.btn.btn-warning(type='button',ng-if="type!='A'",data-toggle='modal', data-target='#mybuy') Comprar
                  td(colspan='1')  
                  td(colspan='1')
                    shopping-cart(item='item')
                    favorite(item='item')
      .row
        .col-lg-12.text-center
          h3.text-center Información sobre el vendedor
          hr.star-primary
      .col-lg-12.box-info-seller
        .col-md-12
          .col-md-2.margt.cajita-centrada
            img.img-cir.profile-img-user(src='uploads/150/{{item.user.photo}}')
          .col-md-4.margt
            .col-md-12.cajita-centrada
              h3.text-center(style='text-align: left;') {{item.user['user']}}
              h4.text-center(style='text-align: left;', ng-if='item.user.store')
                span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                | {{item.user.store.name}}
              small.text-center {{item.user.cityName}}, {{item.user.stateName}}, {{item.user.countryName}} 
              small.text-center(ng-if='item.user.store.address') {{item.user.store.address}} 
          .col-md-6.margt
            .col-md-12
              .col-md-6 Calidad
              div(classs='col-md-6')
                ol.reputacion
                  li.puntos(ng-repeat='i in poitnscalidadcss')
                    i.puntos(ng-class='i')
            .col-md-12
              .col-md-6 Comunicación
              div(classs='col-md-6')
                ol.reputacion
                  li.puntos(ng-repeat='i in poitnscomunicacioncss')
                    i.puntos(ng-class='i')
            .col-md-12
              .col-md-6 Disponibilidad
              div(classs='col-md-6')
                ol.reputacion
                  li.puntos(ng-repeat='i in poitnsdisponiblecss')
                    i.puntos(ng-class='i')
    .row
      .col-lg-12.text-center
        h3 Detalles del producto
        hr.star-primary
    .row
      .col-md-12.box-info-seller(ng-bind-html='descriptionLong')
    .row
      .col-lg-12.text-center
        h3 Preguntas
        hr.star-primary
    .row
      .col-md-12
        .cajita-boton
          if(logged)
            button.btn.btn-success(type='button', data-toggle='modal', data-target='#myModal', ng-click='resetModal()') Hacer una pregunta
        ul.comentarios.col-md-12
          li.comentario-item.col-md-12(ng-repeat='i in comments')
            .contenedor-comentario.container
              .col-md-1.hidden-xs
                img.img-circle.text-center.user-profile-comment(src='uploads/150/{{i.user.photo}}')
              .col-xs-12.col-md-11
                p.texto-query
                  strong {{i.user.user}}
                  small.text-claro
                    timer(start-time='i.time')
                      | Hace {{days}} dias, {{hours}} horas, {{minutes}} minutos, {{seconds}} segundos.
                p {{i.comment}}
                p
                  a(ng-show='i.canReply', href='', ng-click='reply(i._id);', data-toggle='modal', data-target='#myModal') {{i.global? 'Responder' : 'Preguntar'}}
            ul.respuestas.col-md-12
              li.respuesta-item.container.col-md-12(ng-repeat='reply in i.replies')
                .col-md-1.hidden-xs
                  img.img-circle.text-center.user-profile-comment(src='uploads/150/{{reply.user.photo}}')
                .col-xs-12.col-md-11.resp-color
                  p
                    strong {{reply.user.user}}
                    small.text-claro
                      timer(start-time='reply.time')
                        | Hace {{days}} dias, {{hours}} horas, {{minutes}} minutos, {{seconds}} segundos.
                  p {{reply.comment}}
                  p
                    a(ng-show='i.canReply', href='', ng-click='$parent.reply(i._id);', data-toggle='modal', data-target='#myModal') {{i.global? 'Responder' : 'Preguntar'}}
#myModal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
          span(aria-hidden='true') ×
        h4.modal-title {{modalTitle}}
      form(ng-submit='sendQuestion();')
        .modal-body
          textarea(style='width:100%', cols='40', rows='10',pattern=".{5,}" ng-model='form.comment', required)
        .modal-footer
          button#closeModal.btn.btn-default(type='button', data-dismiss='modal') Cerrar
          button.btn.btn-primary(type='submit') Enviar
		  
#mybuy.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
          span(aria-hidden='true') ×
        h4.modal-title Confirma tu compra
      form(ng-submit='')
        .modal-body
          h3 Estas seguro de tu compra?
        .modal-footer
          button#closeModal.btn.btn-default(type='button', data-dismiss='modal') Cerrar
          button.btn.btn-primary(type='button',ng-click='buy();') Comprar
		  
#mybid.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
          span(aria-hidden='true') ×
        h4.modal-title Tu Puja
      form.input-form-drop(ng-submit='sendbid();')
        .modal-body
          .row.control-group
            .form-group.col-xs-4.controls
              label Monto de puja
            .form-group.col-xs-8.controls
              input(type='number',ng-model='form.bid',min='{{price + 5}}', placeholder='Monto minimo actual: {{price + 5}} MXN',style='width:100%;font-size:20px;')
          .row.control-group
            .form-group.col-xs-4.controls
              label Establecer este monto como puja máxima
            .form-group.col-xs-8.controls
              input(type='checkbox',ng-model='form.type',ng-true-value="1",ng-false-value="0",style='font-size:20px;')
        .modal-footer
          button.btn.btn-primary(type='submit') Puja
