a#topy_(name='topy_')
section#portfolio
  .container
    .row
      .col-lg-12.text-center
        h3#name_index Notificacion
        span(us-spinner='{radius:30, width:8, length: 16}', spinner-on='showSpinner')
        .mask(ng-show='showSpinner')
        .col-lg-12.text-center
            h3  Recuerda revisar tu carpeta de Spam
              div
                span.glyphicon.glyphicon-exclamation-sign(style="font-size: 6em;margin-top: 15px;",aria-hidden="true")