.col-lg-12.text-center
  h2 Subir Lote
  hr.star-primary
  span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
  div.mask(ng-show="showSpinner")
  .col-md-12
    form(ng-submit='send()')
      .row.control-group
        .form-group.col-xs-12.floating-label-form-group.controls
          label Archivo
          input#bulk.form-control(ng-model='bulk', required='', type='file', accept='.csv')
        br
        #success
          .form-group.col-xs-12
            button.btn.btn-success.btn-lg(type='submit') Enviar