section#portfolio
  .container
    span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
    div.mask(ng-show="showSpinner")
    .row
      .col-lg-12.text-center
        p {{message_error}}
