doctype html
html(lang='es', ng-app='kulbid')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
    meta(name='theme-color', content='#7ab6f3')
    title(ng-bind="title")
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/freelancer.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/loading-bar.css')
    link(rel='stylesheet', href='/stylesheets/slippry.css')
    link(rel='stylesheet', href='/stylesheets/toastr.css')
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/default.date.css')
    link(rel='stylesheet', href='/stylesheets/default.time.css')
    link(rel='stylesheet', href='/stylesheets/angular-text.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')
  body#page-top.index
    // Navigation
    nav.navbar.navbar-default.navbar-static-top
      .container(ng-controller="SearchController")
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll.margin-top-search
          a.navbar-brand(ui-sref='index.cats',ui-sref-opts="{reload: true}")
            img.hidden-xs.logo_fix(src='uploads/180/logo1.png')
            img.visible-xs(src='uploads/25/Logo_cub.png')
          form(ng-submit='searchsingle()',name='searchsingleform',style="display:inline;float:left;")
            input.input_buscar.noicon(ng-model='term',type='text',ng-blur='hideDelay(false)',ng-focus='hideDelay(true)',ng-keypress='search();')
            button.bbbuscar(type='submit')
              span.glyphicon.glyphicon-search
          if(logged)
            #cartdd.dropdown.hidden-xs(ng-controller='MyCart',style="display:inline;float:left;")
              button.cccart(data-toggle='dropdown',ng-click='clickcart()')
                span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
              ul.dropdown-menu()
                li(ng-repeat='cart in items | limitTo:5', ng-show='items.length>0')
                  a.caja-decarrito(href='/shop/{{cart.url}}')  
                    img(src='uploads/100/{{cart.images[0]}}')
                    .detalleCr
                      p.nombre {{cart.name}}
                      p.precio ({{cart.price}})$
                li
                  a.boton-logind.btn-login-btn-compra(href='myitems/mycart',ng-show='items.length>0') Ir al Carrito
                li(ng-hide='items.length>0')
                  a No hay items en el carrito de compras
            #notidd.dropdown.hidden-xs(ng-controller='MyNotis',style="display:inline;float:left;")
              button.nnnotis(data-toggle='dropdown',ng-click='clicknotis()')
                span.glyphicon.glyphicon-bell(aria-hidden='true')
              ul.dropdown-menu(style="width:200px")
                a(ng-repeat='noti in notis', ng-show='notis.length>0',href='{{noti.url}}')
                  li.caja-noti(ng-class="noti.status==1 ? 'caja-noti-unread': ''")
                    p  {{noti.mes}}
                    p  {{noti.time | date:'dd-MM-yyyy HH:mm'}}
                  a.boton-logind.btn-login-btn-compra(href='myitems/mycart',ng-if='$index == 4') Ir al Carrito
                li.caja-noti(ng-hide='notis.length>0')
                  a(href="#")
                    p No tienes notificaciones
          ul#list_pre.list-preload.ng-cloak(elem-ready,ng-show='mostra_lista && listsearchs.length>0')
            a(ng-repeat='listsearch in listsearchs', href='shop/{{listsearch.url}}')
              li
                img(src='uploads/150/{{listsearch.images[0]}}')
                span {{listsearch.price}}$
                div {{listsearch.name}}
                  span.hidden-xs {{listsearch.descriptionShort}}
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav(style='width:100%')
            li.hidden
              a(ui-sref='#page-top')
            li.page-scroll
              a(ui-sref='index.cats',ui-sref-opts="{reload: true}") Inicio
            li.page-scroll
              a(ui-sref='/stores') Tiendas
            li.visible-xs
              a(ng-click='nearMe()') Cerca de mi
            if(logged)
              ul#login_nav.nav.navbar-nav.navbar-right
                li.page-scroll(style='padding-left: 1em;')
                  a(ui-sref='/items') Publicar
                li.page-scroll(style='padding-left: 2em;')
                  .dropdown.input-form-drop
                    button.dropdown-toggle.pote(type='button', data-toggle='dropdown')
                      | Mi Kulbid
                      span.caret
                    ul.dropdown-menu
                      li
                        a(ng-href='/profile/particular') Perfil 
                      li
                        a(ng-href='/myitems/myitemslist') Articulos 
                      li
                        a(ng-click="out();") Salir  
                      
            else
             button.boton-public(type="button", style="border: 1px solid  #ff9f33; padding: 10px;  margin-left: 503px; background-color: #ff9f33; color: #ffffff; border-radius: 8px;" onclick="alert('Para publicar tu anuncio debes iniciar sesión en KULBID')") Publicar
             ul#login_nav.nav.navbar-nav.navbar-right(ng-controller="testController")
                li.page-scroll(style='padding-left: 1em;')
                  a(ui-sref='/register') Registrate
                li.page-scroll.hidden-md.hidden-sm.hidden-lg.hidden-xl(style='padding-left: 1em;')
                  a(data-toggle='modal', data-target='#myModallogm') Iniciar Sesión
                li.page-scroll
                  .dropdown.input-form-drop.hidden-xs
                    form(ng-submit="send()")
                      button.dropdown-toggle.pote(type='button', data-toggle='dropdown')
                        | Iniciar Sesion
                        span.caret
                      ul.dropdown-menu
                        li
                          input#username(ng-model='form.username',type='text', name='username', placeholder='Usuario')
                        li
                          input#password(ng-model='form.password',type='password',min='8' ,name='password', placeholder='Contraseña')
                        li(style='font-size: 10px; text-align: center;')
                          a(href='/forgotmail') Olvidé mi Contraseña
                        li
                          button.boton-logind(type="submit") Entrar    
    div#main(ui-view)
    footer#contact.text-center(ng-controller='MainControllerFooter')
      .bg
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3 ¿Quiénes somos?
              ul
                li
                  a(href="/terms") Términos y condiciones
                li
                  a(style="min-height:48px;line-height:48px;margin-top:8px",href="/privacy") Aviso de privacidad
                li
                  a(style="min-height:48px;line-height:48px;margin-top:4px",href="/privacy") Organigrama
            .footer-col.col-md-4
              h3 Redes sociales
              ul.list-inline
                li
                  a.btn-social.btn-outline(href='{{ redes.facebook }}', target="_blank")
                    i.fa.fa-fw.fa-facebook
                li
                  a.btn-social.btn-outline(href='{{ redes.twitter }}', target="_blank")
                    i.fa.fa-fw.fa-twitter
                li
                  a.btn-social.btn-outline(href='{{ redes.youtube }}', target="_blank")
                    i.fa.fa-fw.fa-youtube
                li
                  a.btn-social.btn-outline(href='{{ redes.instagram }}', target="_blank")
                    i.fa.fa-fw.fa-instagram
            .footer-col.col-md-4
              h3 Contacto
              // h4 E-mail: contacto@kulbid.com
              p 
               a(href="mailto:{{ contacto.email }}") {{ contacto.email }}
              // p
              //   | Teléfono: {{ contacto.telefono }}
              // // p
              //   | Dirección: {{ contacto.direccion }}
      .footer-below
        .container
          .row
            .col-md-12 Copyright © Kulbid.com 2016 
    #myModallogm.modal.fade(tabindex='-1', role='dialog', ng-controller='testController')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
              span(aria-hidden='true') ×
            h4.modal-title Inicia Sesion
          form.input-form-drop(ng-submit='send();')
            .modal-body
              input#username.ng-pristine.ng-valid.ng-empty.ng-touched(style='', ng-model='form.username', name='username', placeholder='Nombre de Usuario', type='text')
              input#password.ng-pristine.ng-valid.ng-empty.ng-touched(style='', ng-model='form.password', min='8', name='password', placeholder='Contraseña', type='password')
            .modal-footer
              button#closeModal.btn.btn-default(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-primary(type='submit') Entrar
    script(src='/javascripts/lib/jquery/jquery.js')
    script(src='/javascripts/spin.js')
    script(src='/javascripts/lib/angular/angular.js')
    script(src='/javascripts/lib/angular/angular-scroll.min.js')
    script(src='/javascripts/lib/angular/angular-resource.js')
    script(src='/javascripts/lib/angular/angular-animate.js')
    script(src='/javascripts/lib/angular/angular-timer.js')
    //script(src='/javascripts/lib/angular/angular-router.js')
    script(src='/javascripts/lib/angular/angular-ui-router.js')
    script(src='/javascripts/lib/angular/angular-cookie.js')
    script(src='/javascripts/lib/angular/angular-spinner.js')
    script(src='/javascripts/lib/angular/angular-text.js')
    script(src='/javascripts/lib/angular/angular-rangy.js')
    script(src='/javascripts/lib/angular/angular-sanitize.js')
    script(src='/javascripts/lib/angular/angular-map.js')
    script(src='/javascripts/lib/angular/angular-upload.js')
    script(src='/javascripts/lib/angular/angular-upload-shim.js')
    script(src='/javascripts/lib/angular/angular-pagination.js')
    script(src='/javascripts/lib/angular/dirPagination.js')
    script(src='/javascripts/lib/angular/angular-zoom2.js')
    script(src='/javascripts/loading-bar.js')
    script(src='/javascripts/moment.js')
    script(src='/javascripts/humanize-duration.js')
    script(src='/javascripts/toastr.js')
    script(src='/javascripts/picker.js')
    script(src='/javascripts/picker.date.js')
    script(src='/javascripts/picker.time.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery.easing.min.js')
    script(src='/javascripts/classie.js')
    script(src='/javascripts/ofi.browser.js')
    script(src='/javascripts/cbpAnimatedHeader.js')
    script(src='/javascripts/jqBootstrapValidation.js')
    script(src='/javascripts/contact_me.js')
    script(src='/javascripts/freelancer.js')
    //script(src='/javascripts/slippry.js')
    script(src='/javascripts/myscript.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/directives.js')
    script(src='https://www.paypalobjects.com/js/external/api.js')