extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",enctype="multipart/form-data",action="/api/users")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        input#profilepic(type="file", name="profilepic")
        button#btnSubmit(type="submit") submit
