/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}
.navbar-right{
    margin-right:5px !important;
}
.input_buscar{
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 5px 0 0 5px;
    border: 0px none;
    height: 40px;
    width: 40vw;
    padding: 5px 5px 5px 10px;
}

.boton-favorito-a {
	color: #ffffff;
	background-color: #d62c1a !important;
	border-color: #bc1908 !important;
}

.btn-carrito-a {
	color: #ffffff;
	background-color: #217dbb !important;
	border-color: #1066a1 !important;
}

.cccart{
    margin-left:5px;
	height:40px;
	width:40px;
	border:0;
    background: #ffc107;
    border-radius: 5px;
}

.nnnotis{
    margin-left:5px;
	height:40px;
	width:40px;
	border:0;
    background: #ff9800;
    border-radius: 5px;
}

.nnnear{
    margin-left:5px;
	height:40px;
	width:40px;
	border:0;
    background: #26a69a;
    margin-top:2em;
    border-radius: 5px;
}


.bbbuscar{
	height:40px;
	width:40px;
	border:0;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-radius: 0px 5px 5px 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
    height: 400px;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 0px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}



.navbar-default{
    background-color: #7ab6f3 !important;
}
.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 10px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
	height: 233px;
}

#portfolio .portfolio-item .portfolio-link, #portfolio .shop-item .portfolio-link{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption, #portfolio .shop-item .portfolio-link .caption{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover, #portfolio .shop-item .portfolio-link .caption:hover{
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content,  #portfolio .shop-item .portfolio-link .caption .caption-content{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i,  #portfolio .shop-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4,
#portfolio .shop-item .portfolio-link .caption .caption-content h3,
#portfolio .shop-item .portfolio-link .caption .caption-content h4{
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}


footer {
	background-image: url(../img/bg.jpg);
	background-size: 100% 100%;
	position: relative;
	clear: both;
}

footer .bg {
	background: rgba(0,0,0,.8);
	
	width: 100%;
	height: 100%;
	position: absolute;
}

footer .footer-above {
	z-index: 1;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.margin-top-search{
    margin-bottom: 15px;
}
.input-form-drop input{
    margin: 5px 10px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    padding: 3px;
}


/*.footer {
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-image: url(../img/bg.jpg);
	position: relative;
}

.footer:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.7);
}

.footer .center-footer {
	width: 90%;
	display: flex;
	flex-direction: row;
	z-index: 1;
}

.footer .center-footer .footer-item {
	width: 33.3%;
	margin: 0;
}*/
.list-preload{
    list-style-type: none;
    padding: 0;
    position: absolute;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgb(243, 240, 240);
    margin-top: 76px;
    /*margin-top: 4px;*/
    margin-left:13.5em;
    z-index: 999;
    width: 48%;
    border-radius: 3px;   
}
@media(max-width: 768px){
	.list-preload{
		/*margin-top: 62px !important;*/
		margin-left:5em !important;
	}
}
.list-preload li{
    border-bottom: 1px solid rgb(239, 239, 239);
}
.list-preload li div{
	display: inline-block;
    position: absolute;
    margin: 5px;
}
.list-preload li span{
    float:right;
    margin:1em;
}
.list-preload li div span{
    font-size: 0.6em;
    position: absolute;
    display: inherit;
    width: 300px;
    margin: 0;
}
.list-preload li img{
    margin: 4px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    border-bottom: 1px solid rgb(239, 239, 239);
}

.espacioM {
	padding-bottom: .5em;
}

.espacioM a {
	font-size: 1.2em !important;
	word-break: break-all;
}

#custom-search-input {
        margin:0;
        padding: 0;
        
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
    
    input[type]:required:not([type="checkbox"]),
    select:required,
	textarea:required,
    input[type='number']:required{
        background: url(../images/icon-error.svg);
        background-position: 95%;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        -moz-appearance: none;
        
    }
    
    .ng-valid-required:not(.noicon):not(form):not([type="checkbox"]){
        background: url(../images/icon-good.svg) !important;
        background-position: 95% !important;
        background-repeat: no-repeat !important;
        background-size: 15px 15px !important;
        -moz-appearance: none !important;
        
    }
    
    #contactForm select{
        height: 2.4em !important;
        font-size: 1.5em !important;
    }
    
    .picker__select--year,
    .picker__select--month{
        height: auto !important;
    }
    
    
    

.col-p {
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.marg {
    /*margin-bottom: 1em !important;*/
    display: block;
}

.margt {
    /*margin-top: 1em !important;*/
    display: block;
}

.reputacion{
    display: flex;
    flex-direction: row;
    width: 180px;
    height: auto;
    list-style: none;
    justify-content: space-between;
	padding-top:10px;
}

.reputacion .puntos {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

i.puntos{
	opacity:.6;
}

i.puntosObs{
	opacity:1 !important;
}

.reputacion .puntosObs {
    border: solid 2px #000;
}

.reputacion i.valor1{
    background-color:  #f44336;
}

.reputacion i.valor2{
    background-color:   #ff9800;
}
.reputacion i.valor3{
    background-color:   #ffee58;
}
.reputacion i.valor4{
    background-color:   #58f954;
}
.reputacion i.valor5{
    background-color:   #4caf50;
}

.no-padding{
    padding: 0 !important;
}


.comentarios, 
.comentarios li ul{
    list-style: none;
}

.comentarios {
	width: 100% !important;
	display: flex !important;
	flex-direction: column
}

.comentarios .comentario-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}

.cajita-boton {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-content: center;
    margin: .5em 0; 
    }

	.mg {
		margin-bottom: 1.5em;
	}
	
	.texto-query {
		margin-bottom: 0;
	}

.campo-cantidad {
    width: 50px;
    border: 1px solid #ccc;
    border-radius: .5em;
}

.respuesta li .resp-color {
    background: #f4f4f4 !important;
}

.user-profile-comment{
	width:75px;
	height:75px;
	object-fit:cover;
    font-family: 'object-fit: cover;';
}

.user-profile{
	width: 150px !important;
	height:150px !important;
	object-fit:cover;
    font-family: 'object-fit: cover;';
  }

@media screen and (max-width: 756px) {
    .user-profile{
        width: 100px !important;
		height:100px !important;
    }

    .user-profile-comment{
		width:30px;
		height:30px;
		object-fit:cover;
    font-family: 'object-fit: cover;';
	}

    .cajita-centrada{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .center-query{
        text-align: center;
    }
    
}

.titulo_sec {
	width: 100%;
	display: block;
	border-bottom: solid 3px #7ab6f3;
	font-weight: bold;
	padding: .4em 0;
	margin-bottom: 1em;
}

/*carrito*/

.detalleCr{
	width: 100% !important;
	margin-left: 10px;
}

.detalleCr .nombre{
	margin: 0px !important;
    font-size: .9em !important;
}

.detalleCr .precio {
	margin: 0px !important;
    font-size: .7em !important;
}

.caja-noti-unread {
	background-color:rgb(151, 186, 255);
}
.caja-noti {
	padding:5px;
	border-bottom: 1px solid rgb(225, 225, 225);
}
.caja-noti p {
	font-size:.65em;
	font-weight: 200;
	text-transform: none;
	color:gray;
	margin:0;
}
.caja-noti:hover{
	background-color:rgb(235, 235, 252);
}
.caja-decarrito {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
}

.caja-decarrito img {
	height: 50px !important;
    object-fit: cover !important;
    width: 50px !important;
    border: 1px solid rgb(204, 204, 204) !important;
}


/*ESTILOS PARA PLACEHOLDER*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #000 !important;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #000 !important;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #000 !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #000 !important;
}


.center-cont-flex{
	width: 94.7%;
	margin: 0 auto 0 auto;
	background: #fff;
	float: none;
	border: 1px solid #ecf0f1;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
	padding: .5em;
}

.center-cont-flex-linear {
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
}

.center-cont-flex a, .center-cont-flex .center-cont-flex-linear img {
	margin: 0 2em 0 0;
}

.center-cont-flex .center-cont-flex-linear img {
	width: 230px;
}

.center-cont-flex .segure-text {
	margin: 0 1em 0 0;
}

.center-cont-flex .center-cont-flex-linear .segure-image {
	width: 150px !important;
}

@media screen and (max-width: 700px){
	.center-cont-flex{
		flex-direction: column;
	}
	
	.center-cont-flex .center-cont-flex-linear img {
	width: 150px;
	}
	
	.center-cont-flex .center-cont-flex-linear .segure-image {
	width: 100px !important;
	}
	
	.center-cont-flex .center-cont-flex-linear img {
	margin: 0 .5em 0 0;
}
}
