        .navbar{
            margin-bottom: 0 !important;
        }
		
		#sliderHolder{
			min-height:370px;
		}
		
		.ng-cloak{
			display: none !important;
		}
		
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
		
		.img-fixed{
			height: 200px !important;
			width: auto;
			object-fit: cover;
    font-family: 'object-fit: cover;';}
		
		.portfolio-item h5{
			text-align:center;
            font-weight: bold;
            
		}
			
		/*body{
			padding-top:142px;
		}
        
        @media (max-width: 800px){
            body{
                padding-top: 79px;
            }
        }*/
        
        .lista-caracteristicas {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        .img-cir{
			border-radius: 50%;
        }

        .img-cua{
            width: 100% !important;
            height: 150px !important;
            margin: 0 auto !important;
            display: block;
			object-fit: cover;
    font-family: 'object-fit: cover;';
			border: solid 1px #e4e4e4;
            cursor: pointer;
       }
       
       .img-cua-cat{
            width: 150px !important;
            height: 150px !important;
            margin: 0 auto !important;
            display: block;
			object-fit: cover;
             font-family: 'object-fit: cover;';
            cursor: pointer;
       }

        .cuadro-gris {
            width: 100%;
            background-color: #F3F3F3;
            padding: .3em;
            margin: 0 0 .5em 0;
        }
        .shop-item {
            right: 0;
            display: inline-block;
            padding: .8em;
        }
        
        .shop-wrapper{
            
            padding:0 2em 1em;
            background: #ededed;
            border: 1px solid #ccc;
        }
        
        .mask{
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(255,255,255,0.3);
            z-index: 1031 !important;
            
        }
		
		.catitem.ng-enter, 
		.catitem.ng-leave, 
		.catitem.ng-move {
		  -webkit-transition: 0.5s linear all;
		  transition: 0.5s linear all;
		  position:relative;
		}

		.catitem.ng-enter {
		  bottom:-10px;
		  opacity:0;
		}
		.catitem.ng-enter.ng-enter-active {
		  bottom:0;
		  opacity:1;
		}

		.catitem.ng-leave {
		  bottom:0;
		  opacity:1;
		}
		.catitem.ng-leave.ng-leave-active {
		  bottom:-10px;
		  opacity:0;
		}

		.catitem.ng-move {
		  opacity:0.5;
		}
		.catitem.ng-move.ng-move-active {
		  opacity:1;
		}
		
        
     .vermas {width: 100%; display: block; text-align: center; color: #fff; padding: .5em 0; background: #368080; border-radius: .3em; font-size: 1.3em;}
    
    
    .boton-logind{
        background: transparent !important;
        border: 1px solid #ccc;
        display: block;
        padding: .5em;
        width: 50%;
        margin: auto;
        cursor: pointer;
        border-radius: .3em;
        
    }
	.box-info-seller{
		background-color: rgb(251, 251, 251);
		padding-top: 10px;
		padding-bottom: 10px;
		border: 1px solid rgb(240, 240, 240);	
	}  
    
    .navbar-default .navbar-nav > li > a:hover{
        color: #FBA411 !important;
    }
    
    .colorwe{
        color: #fff;
    }
    
    .dropdown{
        margin-top: 20px;
    }
	.img-cua-cat-profile {
		width: 200px !important;
		height: 200px !important;
		margin: 15px auto !important;
		display: block;
		object-fit: cover;
    font-family: 'object-fit: cover;';
		cursor: pointer;
	}
    .pote {
        border: none;
        padding: 0;
        outline: none;
        color: #fff;
        background: transparent;
        text-transform: uppercase;
    }
    
    .pote:hover {
        color: #FBA411 !important;
    }
    
    #history_main{
        padding: 1em 0;
    }
    
    #history_main a {
        font-weight: bold !important;
        color: #FBA411 !important;
    }
    
    
    .nav-pills{
        background: #7ab6f3 !important;
    }
    
    .nav-pills a{
        color: #fff !important;
    }
    
    .nav-pills > li > a:hover{
        background: #4787C9 !important;
    }

    .nav-pills > li > a:focus{
        background: #3b7bbb !important;
	}
    
	*::-webkit-input-placeholder,*:-moz-placeholder ,*::-moz-placeholder ,*:-ms-input-placeholder,*::placeholder {  
	   color: black !important;  
	}
    
    .nav .open > a, .nav .open > a:hover,.nav .open > a, .nav .open > a:active, .nav .open > a, .nav .open > a:focus{
        background: transparent !important;
        color: #FBA411 !important;
    }
    
    .boton-logind:hover {
        background: #000 !important;
        color: #fff;
    }
	.drop-box {
		background: #F8F8F8;
		border: 5px dashed #DDD;
		width: 170px;
		text-align: center;
		padding: 50px 10px;
		margin-left: 10px;
	}
	#box-images-preview0 ul {
		list-style-type: none;
		padding: 0px;
		margin: 10px;
	}
	#box-images-preview0 ul li{
		margin-right: 10px;
		display: inline;
	}
	#box-images-preview0 ul img{
		width: 19%;
		height: 150px;
		object-fit: cover;
    font-family: 'object-fit: cover;';
	}
	#box-images-preview0 ul li span{
		position: absolute;
		background-color: red;
		padding: 5px;
		margin-left: -20px;
	}	
	#box-images-preview ul {
		list-style-type: none;
		padding: 0px;
		margin: 10px;
	}
	#box-images-preview ul li{
		margin-right: 10px;
		display: inline;
	}
	#box-images-preview ul img{
		width: 19%;
		height: 150px;
		object-fit: cover;
    font-family: 'object-fit: cover;';
	}
	#box-images-preview ul li span{
		position: absolute;
		background-color: red;
		padding: 5px;
		margin-left: -20px;
	}	
	.title-item-search{
		font-weight: bold !important;
	}
	.mousetrap {
		object-fit: cover;
    font-family: 'object-fit: cover;';
		border: 1px solid rgb(228, 228, 228);
	}	
	.cloud-zoom-big {
		border: solid 1px #c6c4c4;
		z-index:999 !important;
	}	
	.row-thumbails{
		margin-top:10px;
	}
    .logo_fix {
        height: 80px;
        margin-top: -10px;
    }
	.filter-cat-result {
		background-color: #7ab6f3;
		padding: 7px;
		border-radius: 5px;
		margin-right: 5px;
	}
	
	.filter-cat-result a{
		color:#fff;
	}
	.img-thumb{
		height: 80px;
		width: 80px;
		object-fit: cover;
    font-family: 'object-fit: cover;';
		border: solid 1px #c6c4c4;
	}
	.titulo-perfil-venta{
		font-weight: 600;
		color: rgb(77, 77, 77);
		margin-bottom: 25px;
	}
	.img-cua-venta-perfil{
		width: 250px !important;
		height: 250px !important;
		object-fit: cover;
    font-family: 'object-fit: cover;';
	}
	.ficha-list-mysales{
	border: 1px solid rgb(249, 246, 246);
	margin-bottom: 10px;
	padding: 5px;
	background-color: rgb(251, 251, 251);
	}
	.title-filter-search{
	font-weight: bold;
	font-size: .9em;
	}
	.box-filter-search{
	margin-top: 12px;
	background-color: rgb(242, 242, 242);
	border-radius: 5px;
	}
	.cat-list-filter{
		padding: 0;
		list-style: none;
	}
	.main-cat-filter{
	font-size: 1.1em;	
	padding: 5px 0px 5px 0px;
	}
    .caja-centrada {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	.img-transition-perfil-small{
	margin: 4px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	object-fit: cover;		
    font-family: 'object-fit: cover;';
	}
    
    .btn-login-btn-compra {
	font-size: 10px;
	padding: 5px;
	width: 90%;
	text-align: center;
	}
	.close{
		color:#ae2c2c;
	}
.caja-centrada img {
	width: 20vw;
}

.border-abajo{
	border-bottom: solid 1px #ccc;
}

.text-claro {
	font-size: 0.6em !important;
	color: rgb(117, 117, 117);
}

.cuadrito_emergencia {
    display: flex;  
    flex-direction: row;
    align-items: center;
}

.icono-separe {
    padding: 0px 0.5em;
}

.profile-img-user {
	width: 150px;
	height: 150px;
	object-fit: cover;
    font-family: 'object-fit: cover;';
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
#box-images-preview ul li span {
    position: absolute;
    background-image: url(../images/icon-error.svg);
    padding: .5em;
    margin-left: -10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
	font-size: 1em;
}

#box-images-preview ul li span a{
	color: #fff;
	text-decoration: none;
}

.cuadro_usuario {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: .5em;
}

.sinpadding {
    padding: 0 !important;
}

.respuestas{
    margin: 1em 0px 2em 0;
}
  
.comentario-item {
    
}

#cartdd,#notidd{
	margin-top:2em !important;
}

@media(min-width: 768px){
	.input_buscar{
		margin-top:2em !important;
	}

}

@media(max-width: 1000px){
	.caja-centrada img {
		width: 40vw;
	}
	
	.revertir {
		display: flex;
		flex-direction: column;
	}
	
	.rever1 {
		order: 2;
	}
	
	.rever2 {order: 1;}

}

@media(max-width: 1000px){
	.caja-centrada img {
		width: 40vw;
	}
	
	.revertir {
		display: flex;
		flex-direction: column;
	}
	
	.rever1 {
		order: 2;
	}
	
	.rever2 {order: 1;}

}
img.paypal {
    display: block;
}
button#btnEliminarPaypal {
    display: block;
}