span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
    .row
        h1.page-header  {{subtitle}}
    div(ng-if="mostrarFooter")
        .row.p-5.bg-success
            h3.contact-block.mb-5.text-center
                img.mr-3(src='../images/phone-book.svg' width="50" height="50") 
                | Bloque de contacto
            form#formCat.form-horizontal(ng-submit='send()')
                fieldset
                    .form-group
                        label.col-lg-2.control-label(for='emailcontacto') E-mail de contacto
                        .col-lg-10
                            input#emailcontacto.form-control(placeholder='Ingrese el e-mail', type='email', ng-model="form.email")
                    .form-group
                        label.col-lg-2.control-label(for='direccioncompleta') Dirección completa
                        .col-lg-10
                            input#direccioncompleta.form-control(placeholder='Ingrese la dirección', type='text', ng-model="form.direccion")
                    .form-group
                        label.col-lg-2.control-label(for='telefono') Teléfono
                        .col-lg-10
                            input#telefono.form-control(placeholder='Ingrese el teléfono', type='text', ng-model="form.telefono")
                    .form-group
                        .col-lg-10.col-lg-offset-2
                            button.btn.btn-primary(type='submit') Enviar
        .row.p-5.bg-info
            h3.contact-block.mb-5.text-center
                img.mr-3(src='../images/links.svg' width="50" height="50") 
                | Bloque de redes sociales
            form#formCat.form-horizontal(ng-submit='send1()')
                fieldset
                    .form-group
                        label.col-lg-2.control-label(for='instagram') Instagram
                        .col-lg-10
                            input#instagram.form-control(placeholder='Ingrese su Instagram', type='text', ng-model="form.instagram")
                    .form-group
                        label.col-lg-2.control-label(for='facebook') Facebook
                        .col-lg-10
                            input#facebook.form-control(placeholder='Ingrese su Facebook', type='text', ng-model="form.facebook")
                    .form-group
                        label.col-lg-2.control-label(for='twitter') Twitter
                        .col-lg-10
                            input#twitter.form-control(placeholder='Ingrese su Twitter', type='text', ng-model="form.twitter")
                    .form-group
                        label.col-lg-2.control-label(for='youtube') YouTube
                        .col-lg-10
                            input#youtube.form-control(placeholder='Ingrese su YouTube', type='text', ng-model="form.youtube")
                    .form-group
                        .col-lg-10.col-lg-offset-2
                            button.btn.btn-primary(type='submit') Enviar
        .row.p-5.bg-warning
            h3.contact-block.mb-5.text-center
                img.mr-3(src='../images/rating.svg' width="50" height="50") 
                | Bloque Quiénes Somos
            form#formCat.form-horizontal(ng-submit='send2()')
                fieldset
                    .form-group
                        label.col-lg-2.control-label(for='tituloterminos') Título
                        .col-lg-10
                            input#tituloterminos.form-control(placeholder='Ingrese su título', type='text', ng-model="form.tituloterminos")
                    .form-group
                        .col-lg-12
                            div#caja-texto(text-angular='', ng-model='htmlVariable')
                    .form-group
                        .col-lg-12.mb-5
                            button.btn.btn-primary.btn-block(type='submit') Publicar
            form#formCat.form-horizontal(ng-submit='send3()')
                fieldset
                    .form-group
                        label.col-lg-2.control-label(for='tituloprivacidad') Título
                        .col-lg-10
                            input#tituloprivacidad.form-control(placeholder='Ingrese su título', type='text', ng-model="form.tituloprivacidad")
                    .form-group
                        .col-lg-12
                            div#caja-texto-privacidad(text-angular='', ng-model='htmlVariablePrivacidad')
                    .form-group
                        .col-lg-12
                            button.btn.btn-primary.btn-block(type='submit') Publicar
