.container
  .row
    .col-md-4.col-md-offset-4
      .login-panel.panel.panel-default
        .panel-heading
          h3.panel-title Inicia sesión para continuar
        .panel-body
          form#login_form(name='login_form', ng-submit='send()')
           fieldset
             .form-group
               label.control-label(for='login-name') Nombre:
               input#login-name.form-control(type='text', required='', ng-model='form.username', name='name')
             .form-group
               label.control-label(for='login-password') Contraseña:
               input#login-password.form-control(type='password', required='', ng-model='form.password', name='password')
             button.btn.btn-lg.btn-success.btn-block(type='submit') Iniciar Sesión