span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  {{subtitle}}
  div(ng-if="editarProductos")
    .row
      form#formCat.form-horizontal(ng-submit='send()')
        fieldset
          .form-group
            label.col-lg-2.control-label(for='titulo') Titulo {{60 - form.name.length}} caracteres restantes
            .col-lg-10
              input#inputname.form-control(aria-invalid='false', ng-model='form.name', maxlength='60', placeholder='Titulo del Articulo', required='', type='text')
          .form-group
            label.col-lg-2.control-label(for='des') Descripcion Corta {{140 - form.descriptionShort.length}} caracteres restantes
            .col-lg-10
              input#inputname.form-control(aria-invalid='false', ng-model='form.descriptionShort', maxlength='140', placeholder='Descripcion Corta', required='', type='text')
          .form-group
            label.col-lg-2.control-label(for='des') Descripcion Larga
            .col-lg-10
              div(text-angular='', ng-model='form.descriptionLong')
          .form-group
            label.col-lg-2.control-label  Precio
            .col-lg-10
              input.form-control(aria-invalid='false', numbers-only='numbers-only', ng-model='form.price', placeholder='Precio', min='1', step='any', required='', type='text')
          .form-group
            label.col-lg-2.control-label  Cantidad de inventario
            .col-lg-10
              input.form-control(ng-model='form.stock', numbers-only='numbers-only', placeholder='Cantidad de inventario', required='', min='1', step='1', type='text')
          .form-group
            label.col-lg-2.control-label  Categoria
            .col-lg-10
              select#category.form-control(ng-model='form.parent', name='category', ng-change='getchilds(form.parent)')
                option(ng-repeat='category in categories', value='{{category._id}}') {{category.name}}
          .form-group
            label.col-lg-2.control-label  Categoria
            .col-lg-10
              select#category.form-control(ng-model='form.category', name='category', required='')
                option(ng-repeat='child in childs', value='{{child._id}}') {{child.name}}
          .form-group
            label.col-lg-2.control-label  Localidad
            .col-lg-10
              input.form-control(aria-invalid='false', ng-model='form.location', placeholder='Localidad', required='', type='text')
          .form-group
            label.col-lg-2.control-label   ¿Donde esta el articulo?
            .col-lg-10(map-lazy-load='https://maps.google.com/maps/api/js', map-lazy-load-params='{{googleMapsUrl}}')
              ng-map(center='19.433255, -99.133511', zoom='13')
          .form-group
            label.col-lg-2.control-label  Status
            .col-lg-10
              select#status.form-control(ng-model='form.active', name='type', required='')
                option(value='1') Activo
                option(value='2') Pausado
                option(value='3') Finalizado
          .form-group
            label.col-lg-2.control-label  Condicion del Articulo
            .col-lg-10
              select#status.form-control(ng-model='form.status', name='type', required='')
                option(value='N') Nuevo
                option(value='U') Usado
                option(value='S') Servicio
                option(value='SN') Semi Nuevo
          .form-group
            label.col-lg-2.control-label  Duración de la publicación
            .col-lg-10
              select#status.form-control(ng-model='form.time', name='time', required='')
                option(value='7') 7 dias
                option(value='15') 15 dias
                option(value='30') 30 dias
          .form-group
            .col-lg-10.col-lg-offset-2
              button.btn.btn-primary(type='submit') Enviar
    .row
      h1.page-header  Imagenes del articulo
    .row
      form#formCat.form-horizontal(ng-submit='send()')
        fieldset
          .form-group
            button.btn.btn-lg.btn-default.btn-block.drop-box(style='width:100%', ngf-select='', ngf-drop='', ng-model='files', ngf-keep='true', ngf-multiple='true', ngf-max-files='5', ngf-accept="'image/jpeg, image/x-png'", ngf-pattern="'image/jpeg, image/x-png'")  Arrastra la imagen
          .form-group
            #box-images-preview0(ng-show='files.length==0')
              ul
                li(ng-repeat='file in files0')
                  img.img-preview-box(ngf-src='!file.$error && file')
            #box-images-preview(ng-show='files.length>0')
              ul
                li(ng-repeat='file in files')
                  img.img-preview-box(ngf-src='!file.$error && file')
                  span
                    a(ng-click='remove($index)') X
          .form-group
            .col-lg-10.col-lg-offset-2
              button.btn.btn-primary(ng-click='uploadPhotos()') Actualizar Fotos
          
        