span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  {{subtitle}}
  div(ng-if="mostrarListaProductos")
    .row
      .col-sm-12
        div.dataTables_filter.col-sm-2
          label
            | Buscar
            input.form-control.input-sm(ng-model="search",ng-change="performSearch()",type="search",placeholder="Buscar productos")
        div.dataTables_filter.col-sm-2
          label
            | Condición
            select.form-control.input-sm(type='select',ng-model="statusfilter",ng-change="list()")
              option(value='false') Cualquiera
              option(value='N') Nuevo
              option(value='U') Usado
              option(value='S') Servicio
              option(value='SN') Semi Nuevo
        div.dataTables_filter.col-sm-2
          label
            | Tipo
            select.form-control.input-sm(type='select',ng-model="typefilter",ng-change="list()")
              option(value='false') Cualquiera
              option(value='S') Venta
              option(value='A') Subasta
              option(value='L') Lote
        div.dataTables_filter.col-sm-2
          label
            | Status
            select.form-control.input-sm(type='select',ng-model="activefilter",ng-change="list()")
              option(value='false') Cualquiera
              option(value='1') Activa
              option(value='2') Pausada
              option(value='3') Finalizada
              option(value='4') Eliminada
    .row
      .col-sm-12
        dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
    .row
      .col-sm-12.table-responsive
        table.table.table-stripped.table-bordered.table-hover.no-footer
          thead
            tr
              th
                | Nombre
              th
                | Usuario
              th
                | Status
              th
                | Tipo
              th
                | Condición
              th
                | Descripción corta
              th
                | Categoria
              th
                | Foto
              th
                | Stock
              th
                | Precio
              th(ng-if="editarProductos")
                | Editar
              th(ng-if="editarProductos")
                | Eliminar
          tbody
            tr(dir-paginate='item in items | itemsPerPage: max',pagination-id="pag",current-page="currentPage",total-items="total")
              td
                | {{item.name}}
              td
                a(href="/shop/user/{{item.user.user}}") {{item.user.user}}
              td
                |  {{actives[item.active]}}
              td
                |  {{types[item.type]}}  
              td
                |  {{statuses[item.status]}}  
              td
                |  {{item.descriptionShort}}  
              td
                a(href="/category/{{item.category}}", ui-sref="/admin/main.categoryedit({id:item.category})")  {{item.categoryName}}
              td
                img.img-list(src='uploads/100/{{item.images[0]}}')
              td
                |  {{item.stock}}  
              td
                | {{item.price}}
              td.btd(ng-if="editarProductos")
                a.btn.btn-info.btn-circle(ng-show="item.active!=4",href="/products/{{item._id}}", ui-sref="/admin/main.productsedit({id:item._id})")
                  i.fa.fa-pencil
                button.btn.btn-info.disabled.btn-circle(ng-show="item.active==4")
                  i.fa.fa-pencil
              td.btd(ng-if="editarProductos")
                button.btn.btn-danger.btn-circle(ng-show="item.active!=4",type='button',ng-click='prepareDelete(item._id)',data-toggle='modal',data-target='#deleteModal')
                  i.fa.fa-trash
                button.btn.btn-danger.disabled.btn-circle(ng-show="item.active==4",type='button',data-toggle='modal')
                  i.fa.fa-trash
    .row
      .col-sm-12
        dir-pagination-controls(pagination-id="pag",boundary-links="true",on-page-change="pageChange(newPageNumber)",template-url="/static/dirPagination.tpl.html")
  div#deleteModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
            span(aria-hidden="true")  &times;
          h4#modalLabel.modal-title  ¿Estas seguro que deseas eliminar este articulo?
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
          button.btn.btn-primary(type="button",ng-click="remove()",data-dismiss="modal") Aceptar