span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  Lista de Marcas
  .row
    .col-sm-12
      div.dataTables_filter
        label
          | Buscar
          input.form-control.input-sm(ng-model="filter",type="search",placeholder="Filtrar marcas")
  .row
    .col-sm-12
      table.table.table-stripped.table-bordered.table-hover.no-footer
        thead
          tr
            th
              | ID
            th
               | Nombre
            th
              | Imagen
            th
              | Editar
            th
              | Eliminar
        tbody
          tr(ng-repeat='brand in brands | filter : filter : comparator : name')
            td
              | {{brand._id}}
            td
              | {{brand.name}}
            td
              img.img-list(src='uploads/100/{{brand.image}}')
            td.btd
              a.btn.btn-info.btn-circle(href="/brand/{{cat._id}}", ui-sref="/admin/main.brandedit({id:brand._id})")
                i.fa.fa-pencil
            td.btd
              button.btn.btn-danger.btn-circle(type='button',ng-click='prepareDelete(brand._id)',data-toggle='modal',data-target='#deleteModal')
                i.fa.fa-trash
div#deleteModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
          span(aria-hidden="true")  &times;
        h4#modalLabel.modal-title  ¿Estas seguro que deseas eliminar esta marca?
      div.modal-footer
        button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
        button.btn.btn-primary(type="button",ng-click="remove()",data-dismiss="modal") Aceptar