span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  {{subtitle}}
  div(ng-if="mostrarListaCategoria")
    .row
      .col-sm-12
        div.dataTables_filter
          label
            | Buscar
            input.form-control.input-sm(ng-model="filter",type="search",placeholder="Filtrar categorias")
    .row
      .col-sm-12
        table.table.table-stripped.table-bordered.table-hover.no-footer
          thead
            tr
              th
                | ID
              th
                | Nombre
              th
                | Imagen
              th(ng-if="mostrarCategoria")
                | Editar
              th(ng-if="mostrarCategoria")
                  | Eliminar
          tbody
            tr(ng-repeat='cat in categories | filter : filter : comparator : name',id="item_{{cat._id}}",style='cursor:pointer', ng-click='listChilds(cat._id)')
              td
                | {{cat._id}}
              td
                | {{cat.name}}
              td
                img.img-list(src='uploads/100/{{cat.image}}')
              td.btd(ng-if="mostrarCategoria")
                a.btn.btn-info.btn-circle(href="/category/{{cat._id}}", ui-sref="/admin/main.categoryedit({id:cat._id})")
                  i.fa.fa-pencil
              td.btd(ng-if="mostrarCategoria")
                button.btn.btn-danger.btn-circle(type='button',ng-click='prepareDelete(cat._id)',data-toggle='modal',data-target='#deleteModal')
                  i.fa.fa-trash
    .row
      h1.page-header#childtop  Lista de categorias hijas
    .row
      .col-sm-12
        div.dataTables_filter
          label
            | Buscar
            input.form-control.input-sm(ng-model="filterch",type="search",placeholder="Filtrar categorias")
    .row
      .col-sm-12
        table.table.table-stripped.table-bordered.table-hover.no-footer
          thead
            tr
              th
                | ID
              th
                | Nombre
              th
                | Imagen
              th(ng-if="mostrarCategoria")
                | Editar
              th(ng-if="mostrarCategoria")
                | Eliminar
          tbody
            tr(ng-repeat='cat in childs | filter : filterch : comparator : name',id="item_{{cat._id}}")
              td
                | {{cat._id}}
              td
                | {{cat.name}}
              td
                img.img-list(src='uploads/100/{{cat.image}}')
              td.btd(ng-if="mostrarCategoria")
                a.btn.btn-info.btn-circle(href="/category/{{cat._id}}", ui-sref="/admin/main.categoryedit({id:cat._id})")
                  i.fa.fa-pencil
              td.btd(ng-if="mostrarCategoria")
                button.btn.btn-danger.btn-circle(type='button',ng-click='prepareDelete(cat._id)',data-toggle='modal',data-target='#deleteModal')
                  i.fa.fa-trash
  div#deleteModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
            span(aria-hidden="true")  &times;
          h4#modalLabel.modal-title  ¿Estas seguro que deseas eliminar esta categoria?
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
          button.btn.btn-primary(type="button",ng-click="remove()",data-dismiss="modal") Aceptar