span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  Lista de despachadores
  .row
    .col-sm-12
      div.dataTables_filter
        label
          | Buscar
          input.form-control.input-sm(ng-model="search",ng-change="performSearch()",type="search",placeholder="Buscar despachadores")
  .row
    .col-sm-12
      dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
  .row
    .col-sm-12
      table.table.table-stripped.table-bordered.table-hover.no-footer
        thead
          tr
            th
              | ID
            th
              | Nombre
            th
              | Apellido
            th
              | Telefono
            th
              | E-mail
            th
              | Foto
            th
              | Editar
            th
              | Eliminar
        tbody
          tr(dir-paginate='des in despa | itemsPerPage: max',pagination-id="pag",current-page="currentPage",total-items="total")
            td
              | {{des._id}}
            td
              | {{des.name}}
            td
              | {{des.lastName}}
            td
              | {{des.phone}}
            td
              | {{des.mail}}
            td
              img.img-list(src='uploads/100/{{des.image}}')
            td.btd
              a.btn.btn-info.btn-circle(href="/despachadores/{{cat._id}}", ui-sref="/admin/main.despaedit({id:des._id})")
                i.fa.fa-pencil
            td.btd
              button.btn.btn-danger.btn-circle(type='button',ng-click='prepareDelete(des._id)',data-toggle='modal',data-target='#deleteModal')
                i.fa.fa-trash
  .row
    .col-sm-12
      dir-pagination-controls(pagination-id="pag",boundary-links="true",on-page-change="pageChange(newPageNumber)",template-url="/static/dirPagination.tpl.html")
div#deleteModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
          span(aria-hidden="true")  &times;
        h4#modalLabel.modal-title  ¿Estas seguro que deseas eliminar este despachador?
      div.modal-footer
        button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
        button.btn.btn-primary(type="button",ng-click="remove()",data-dismiss="modal") Aceptar