span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  {{subtitle}}
  div(ng-if="mostrarListaTransacciones")
    .row
      .col-sm-12
        dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
    .row
      .col-sm-12.table-responsive
        table.table.table-stripped.table-bordered.table-hover.no-footer
          thead
            tr
              th
                | ID
              th
                | Fecha
              th
                | Item
              th
                | Comprador
              th
                | Vendedor
              th
                | Calificación C.
              th
                | Calificación V.
              th
                | Precio
              th
                | Cantidad
              th
                | Comisión
              th
                | Status de pago
              th
                | Reporte
          tbody
            tr(dir-paginate='transaction in transactions | itemsPerPage: max',pagination-id="pag",current-page="currentPage",total-items="total")
              td
                a(href="/done/{{transaction._id}}") {{transaction._id}}
              td
                | {{transaction.time | date:'yyyy-MM-dd HH:mm:ss'}}
              td
                a(href="/shop/{{transaction.item.url}}") {{transaction.item.name}}
              td
                a(href="/shop/user/{{transaction.buyer.user}}") {{transaction.buyer.user}}
              td
                a(href="/shop/user/{{transaction.seller.user}}") {{transaction.seller.user}}
              td
                | {{ratestatus[transaction.rates.buyer.status]}}
              td
                | {{ratestatus[transaction.rates.seller.status]}}
              td
                | {{transaction.price}}
              td
                | {{transaction.ammount}}
              td
                | {{transaction.kulbidTax}}
              td
                | {{transaction.kulbidPayed ? 'Completado' : transaction.processing ? 'Procesando' : 'Sin pagar'}}
              td
                | {{transaction.reportClosed ? 'Cerrado' : transaction.reports > 0 ? 'Abierto' : 'Sin reportes'}}
    .row
      .col-sm-12
        dir-pagination-controls(pagination-id="pag",boundary-links="true",on-page-change="pageChange(newPageNumber)",template-url="/static/dirPagination.tpl.html")
  div#deleteModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
            span(aria-hidden="true")  &times;
          h4#modalLabel.modal-title  ¿Estas seguro que deseas eliminar este despachador?
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
          button.btn.btn-primary(type="button",ng-click="remove()",data-dismiss="modal") Aceptar