span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  {{subtitle}}
  div(ng-if="mostrarListaUsuarios")
    .row
      .col-sm-12
        div.dataTables_filter
          label
            | Buscar
            input.form-control.input-sm(ng-model="search",ng-change="performSearch()",type="search",placeholder="Buscar usuarios")
    .row
      .col-sm-12
        dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
    .row
      .col-sm-12
        table.table.table-stripped.table-bordered.table-hover.no-footer
          thead
            tr
              th
                | ID
              th
                | User
              th
                | E-mail principal
              th
                | Privilegio
              th
                | Perfil de permiso
              th(ng-if="paginaEditar")
                | Eliminar
          tbody
            tr(dir-paginate='user in users | itemsPerPage: max',pagination-id="pag",current-page="currentPage",total-items="total")
              td
                | {{user._id}}
              td
                | {{user.user}}
              td
                | {{user.mails[0].mail}}
              td
                | {{privs[user.priv]}}
              td
                 div(ng-bind="encontrarPerfil(user.perfil)")
              td.btd(ng-if="paginaEditar")
                button.btn.btn-danger.btn-circle(ng-show="user.active!=2",type='button',ng-click='prepareDelete(user._id)',data-toggle='modal',data-target='#deleteModal')
                  i.fa.fa-trash
                button.btn.btn-info.btn-circle(ng-show="user.active==2",type='button',ng-click='prepareActivate(user._id)',data-toggle='modal',data-target='#activateModal')
                  i.fa.fa-play
    .row
      .col-sm-12
        dir-pagination-controls(pagination-id="pag",boundary-links="true",on-page-change="pageChange(newPageNumber)",template-url="/static/dirPagination.tpl.html")
  div#deleteModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
            span(aria-hidden="true")  &times;
          h4#modalLabel.modal-title  ¿Estas seguro que deseas eliminar este usuario?
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
          button.btn.btn-primary(type="button",ng-click="remove()",data-dismiss="modal") Aceptar
  div#activateModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
            span(aria-hidden="true")  &times;
          h4#modalLabel.modal-title  ¿Estas seguro que deseas re-activar este usuario?
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
          button.btn.btn-primary(type="button",ng-click="activate()",data-dismiss="modal") Aceptar