span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  {{subtitle}}
  div(ng-if="mostrarListaBanners")
    .row(ng-repeat="banner in banners")
      .panel.panel-default
        .panel-heading.text-center(ng-show="banner.href")
          a.btn.btn-primary(href="{{banner.href}}",target="_blank")
            |  {{banner.href}}
        .panel-body.text-center
          img.capped-image(src="/uploads/{{banner.image}}")
        .panel-footer
          button.btn.btn-danger.btn-block.btn-social(type='button',ng-click='prepareDelete(banner._id)',data-toggle='modal',data-target='#deleteModal')
            i.fa.fa-trash
            |  Eliminar
  div#deleteModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
            span(aria-hidden="true")  &times;
          h4#modalLabel.modal-title  ¿Estas seguro que deseas eliminar este banner?
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
          button.btn.btn-primary(type="button",ng-click="remove()",data-dismiss="modal") Aceptar