div#wrapper
  nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='index.html') Panel Kulbid
    ul.nav.navbar-top-links.navbar-right
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          i.fa.fa-user.fa-fw
          i.fa.fa-caret-down
        ul.dropdown-menu.dropdown-user
          li
            a(data-toggle='modal',data-target="#configModal")
              i.fa.fa-gear.fa-fw
              |  Configuración
          li.divider
          li
            a(ng-click="logout()")
              i.fa.fa-sign-out.fa-fw
              | Salir
    .navbar-default.sidebar(role='navigation')
      .sidebar-nav.navbar-collapse
        ul#side-menu.nav
          li
            a(href='#')
              i.fa.fa-tag.fa-fw
              |  Categorias
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='/categorylist', ui-sref='.categorylist') Listar
              li
                a(href='/category', ui-sref='.category') Agregar
          li
            a(href='#')
              i.fa.fa-shopping-basket.fa-fw
              |  Productos
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='/listproduct', ui-sref='.listproduct') Listar
              li
                a(href='/admin/main/products', ui-sref='.products') Agregar
          li
            a(href='#')
              i.fa.fa-user.fa-fw
              |  Usuarios
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='/admin/main/user', ui-sref='.user') Agregar usuario
              li
                a(href='/admin/main/listusers',ui-sref='.listusers') Listar usuarios
          li
            a(href='#')
              i.fa.fa-cog.fa-fw
              |  Transacciones
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='/admin/main/transactions', ui-sref='.transactions') Listar
          li
            a(href='#')
              i.fa.fa-cog.fa-fw
              |  Configuración del sitio
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='/admin/main/banner', ui-sref='.banner') Agregar banner
              li
                a(href='/admin/main/bannerlist', ui-sref='.bannerlist') Listar banners
              li
                a(href='/admin/main/taxed', ui-sref='.tax') Comisión
              li
                a(href='/admin/main/footer', ui-sref='.footer') Footer
          li
            a(href='#')
              i.fa.fa-cog.fa-fw
              | Perfiles de permisos
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='/admin/main/perfiles', ui-sref='.perfiles') Listar perfiles
              li
                a(href='/admin/main/permisos', ui-sref='.permisos') Agregar perfil
  div#page-wrapper
    div.row
      div(ui-view='')
div#configModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
  div.modal-dialog(role="document")
    form.modal-content(ng-submit="changePassword()")
      div.modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
          span(aria-hidden="true")  &times;
        h4#modalLabel.modal-title  Configuración
      div.modal-body
        fieldset.form-horizontal
          .form-group
            label.col-lg-2.control-label(for='oldpassword') Antigüa contraseña
            .col-lg-10
              input#oldpassword.form-control(type='password',required,ng-model='form.oldpassword')
          .form-group
            label.col-lg-2.control-label(for='newpassword') Nueva contraseña
            .col-lg-10
              input#newpassword.form-control(type='password',required,ng-model='form.newpassword')
          .form-group
            label.col-lg-2.control-label(for='rptpassword') Repite tu nueva contraseña
            .col-lg-10
              input#rptpassword.form-control(type='password',required,ng-model='form.rptpassword')
      div.modal-footer
        button.btn.btn-default(type="reset",data-dismiss="modal") Cancelar
        button.btn.btn-primary(type="submit") Aceptar
      
script(src='/javascripts/metisMenu.min.js')