span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
    .row
        h1.page-header  {{subtitle}}
    div(ng-if="mostrarListaPerfiles")
        .row
            .col-lg-12
                table.table.table-stripped.table-bordered.table-hover.no-footer
                    thead
                        tr
                            th
                                | ID
                            th
                                | Nombre
                            th
                                | Ver
                            th
                                | Eliminar
                    tbody
                        tr(ng-repeat='perfil in perfiles',id="perfil_{{perfil._id}}")
                            td
                                | {{ perfil._id }}
                            td
                                | {{ perfil.name }}
                            td.btd
                                a.btn.btn-info.btn-circle(href="/permisos/{{perfil._id}}", ui-sref="/admin/main.permisosedit({id:perfil._id})")
                                    i.fa.fa-eye
                            td.btd
                                button.btn.btn-danger.btn-circle(type='button',ng-click='prepareDelete(perfil._id)',data-toggle='modal',data-target='#deleteModal')
                                    i.fa.fa-trash
div#deleteModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
          span(aria-hidden="true")  &times;
        h4#modalLabel.modal-title  ¿Estas seguro que deseas eliminar este perfil?
      div.modal-footer
        button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
        button.btn.btn-primary(type="button",ng-click="remove()",data-dismiss="modal") Aceptar