span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
    .row
        h1.page-header  {{subtitle}}
    div(ng-if="mostrarPermiso")
        .row
            form#formCat.form-horizontal(ng-submit='send()')
                fieldset
                    .form-group
                        label.col-lg-2.control-label(for='nombreperfil') Nombre del perfil
                        .col-lg-10
                            input#nombreperfil.form-control(required,placeholder='Nombre', type='text', ng-model='form.name')
                    .form-group
                        label.col-lg-2.control-label(for='permisos') Secciones habilitadas
                        .col-lg-10
                            table.table.table-stripped.table-bordered.table-hover.no-footer
                                thead
                                    tr
                                        th 
                                            | Página
                                        th
                                            | Habilitar
                                tbody
                                    tr(ng-repeat="page in pages", id="page_{{page._id}}")
                                        td
                                            | {{ page.title }}
                                        td
                                            input(type='checkbox' id='{{page._id}}' ng-checked="encontrarID(page)" ng-model="ids[page._id]" name="paginas[{{$index}}]")
                    .form-group
                        .col-lg-10.col-lg-offset-2
                            button.btn.btn-primary(type='submit') Enviar
