span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  Area de Servicio
  .row
    .col-lg-12
      div(map-lazy-load='https://maps.google.com/maps/api/js', map-lazy-load-params='{{googleMapsUrl}}')
        ng-map(center='19.433255, -99.133511', zoom='8')
  .row
    .col-lg-12
      button.btn.btn-lg.btn-success.btn-block(ng-click='send()')
        |  Guardar
  