﻿span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  {{subtitle}}
  div(ng-if="mostrarProducto")
    .row
      form#formProduct.form-horizontal(ng-submit='send()')
        fieldset
          .form-group
            label.col-lg-2.control-label(for='inputname') Nombre
            .col-lg-10
              input#inputname.form-control(placeholder='Nombre', required, type='text', ng-model='form.name')
          .form-group
            label.col-lg-2.control-label(for='inputdescriptionshort') Descripcion Corta
            .col-lg-10
              input#inputdescriptionshort.form-control(type='text', required, ng-model='form.descriptionshort')
          .form-group
            label.col-lg-2.control-label(for='inputdescriptionlong') Descripcion Larga
            .col-lg-10
              textarea#textArea.form-control(rows='3', required, ng-model='form.descriptionlong')
          .form-group
            label.col-lg-2.control-label(for='selectcat') Categoria
            .col-lg-10
              select#selectcat.form-control(ng-model='form.category')
                option(ng-repeat='cat in categories', required, value='{{cat._id}}') {{cat.name}}
          .form-group
            label.col-lg-2.control-label(for='selectbrand') Marca
            .col-lg-10
              select#selectbrand.form-control(ng-model='form.brand')
                option(ng-repeat='brand in brands', required, value='{{brand._id}}') {{brand.name}}
          .form-group
            label.col-lg-2.control-label(for='inputname', ng-model='form.name') Imagen
            .col-lg-10
              .button.drop-box(style='width:100%', ngf-select='', ngf-drop='', ng-model='files', ngf-keep='true', ngf-multiple='false', ngf-max-files='5', ngf-accept="'image/png,image/jpeg'", ngf-pattern="'image/png,image/jpeg'") Arrastra tus archivos
              #box-images-preview
                ul
                  li(ng-repeat='file in files')
                    img.img-preview-box(ngf-src='!file.$error && file')
                    span
                      a(ng-click='remove($index)') X
          .form-group
            label.col-lg-2.control-label(for='inputsize') Tamaño
            .col-lg-10
              input#inputsize.form-control(type='text', required, ng-model='form.size')
          .form-group
            label.col-lg-2.control-label(for='selectmessaure') Medida
            .col-lg-10
              select#selectmessaure.form-control(ng-model='form.medida')
                option(value='m') Metros
                option(value='l') Litros
                option(value='g') Gramos
          .form-group
            label.col-lg-2.control-label(for='inputprice') Precio
            .col-lg-10
              input#inputprice.form-control(type='text',required, ng-model='form.price')
          .form-group
            label.col-lg-2.control-label(for='inputtax') Impuesto
            .col-lg-10
              input#inputtax.form-control(type='text',required,ng-model='form.tax')
          .form-group
            label.col-lg-2.control-label(for='inputgtin') Gtin
            .col-lg-10
              input#inputgtin.form-control(type='text',required,ng-model='form.gtin')
          .form-group
            .col-lg-10.col-lg-offset-2
              button.btn.btn-default(type='reset') Cancel
              button.btn.btn-primary(type='submit') Submit