span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner").row
.col-lg-12
  .row
    h1.page-header  {{subtitle}}
  div(ng-if="mostrarUsuario")
    .row
      form#formLot.form-horizontal(ng-submit='send()')
        fieldset
          .form-group
            label.col-lg-2.control-label(for='inputname') Usuario
            .col-lg-10
              input#inputname.form-control(type='text',required,ng-model='form.user')
          .form-group
            label.col-lg-2.control-label(for='inputmail') E-Mail
            .col-lg-10
              input#inputmail.form-control(type='text',required,ng-model='form.mail')
          .form-group
            label.col-lg-2.control-label(for='inputphone') Privilegio
            .col-lg-10
              select#selectbrand.form-control(required,ng-model='form.priv')
                option(value='2') Administrador
          .form-group
            label.col-lg-2.control-label(for='inputperfil') Perfil de permiso
            .col-lg-10
              select#selectbrand.form-control(required,ng-model='form.perfil')
                option(ng-repeat="perfil in perfiles" value="{{perfil._id}}") {{perfil.name}}
          .form-group
            label.col-lg-2.control-label(for='inputphone') Pass
            .col-lg-10
              input#inputphone.form-control(type='password',required,ng-model='form.password')
          .form-group
            .col-lg-10.col-lg-offset-2
              button.btn.btn-default(type='reset') Cancel
              button.btn.btn-primary(type='submit') Submit