span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  Subir lote de productos
  .row
    form#formLot.form-horizontal
      fieldset
        .form-group
          label.col-lg-2.control-label(for='inputname') Archivo
          .col-lg-10
            input#inputname.form-control(placeholder='Nombre', type='file')
        .form-group
          .col-lg-10.col-lg-offset-2
            button.btn.btn-default(type='reset') Cancel
            button.btn.btn-primary(type='submit') Submit
