span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header  {{subtitle}}
  .row
    form#formLot.form-horizontal(ng-submit='send()')
      fieldset
        .form-group
          label.col-lg-2.control-label(for='inputname') Nombre
          .col-lg-10
            input#inputname.form-control(type='text',required,ng-model='form.name')
        .form-group
          label.col-lg-2.control-label(for='inputlastname') Apellido
          .col-lg-10
             input#inputlastname.form-control(type='text',required,ng-model='form.lastname')
        .form-group
          label.col-lg-2.control-label(for='inputname',ng-model='form.name') Imagen
          .col-lg-10
            button.btn.btn-lg.btn-default.btn-block.drop-box(ngf-multiple='false',ngf-select='changePhoto($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)',ngf-drop='changePhoto($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)',ngf-keep='false',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Arrastra la imagen
            .box-single-preview(ng-show='file')
              img.img-preview-box(ngf-src='file')
              span
               a(ng-click='removePhoto()') X
            .box-single-preview(ng-show='editfile && !file')
              img.img-preview-box(src='/uploads/{{editfile}}')
        .form-group
          label.col-lg-2.control-label(for='inputmail') E-Mail
          .col-lg-10
            input#inputmail.form-control(type='text',required,ng-model='form.mail')
        .form-group
          label.col-lg-2.control-label(for='inputphone') Telefono
          .col-lg-10
            input#inputphone.form-control(type='text',required,ng-model='form.phone')
        .form-group
          .col-lg-10.col-lg-offset-2
            button.btn.btn-default(type='reset') Cancelar
            button.btn.btn-primary(type='submit') Enviar
